In [9]:
import pandas as pd
#import psycopg2
#import sql_functions as sf    #postgres SQL
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import scipy as stat
#import sqlalchemy
import chardet

In [1]:
import requests

url = "https://meteostat.p.rapidapi.com/point/monthly"

querystring = {"lat":"1.29027","lon":"103.851959","start":"1961-01-01","end":"2015-12-01"}

headers = {
	"x-rapidapi-key": "fec571117amshe8bc07b67dd0a44p1d445djsn00cdcce7c9da",
	"x-rapidapi-host": "meteostat.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

{'meta': {'generated': '2024-07-03 09:52:14', 'stations': ['48694', '48692', '48698', '96087']}, 'data': [{'date': '1961-01-01', 'tavg': 25.6, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1011.7, 'tsun': None}, {'date': '1961-02-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 130.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1961-03-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 300.0, 'wspd': None, 'pres': 1010.5, 'tsun': None}, {'date': '1961-04-01', 'tavg': 28.2, 'tmin': None, 'tmax': None, 'prcp': 140.0, 'wspd': None, 'pres': 1008.4, 'tsun': None}, {'date': '1961-05-01', 'tavg': 27.5, 'tmin': None, 'tmax': None, 'prcp': 140.0, 'wspd': None, 'pres': 1008.2, 'tsun': None}, {'date': '1961-06-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 120.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1961-07-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 120.0, 'wspd': None, 'pres': 1009.3, 'tsun': None}, {'date': '1961-08-01', 'tavg': 27.3, 'tmin': None, 'tmax': None, 'prcp': 70.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1961-09-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 90.0, 'wspd': None, 'pres': 1009.8, 'tsun': None}, {'date': '1961-10-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 50.0, 'wspd': None, 'pres': 1009.8, 'tsun': None}, {'date': '1961-11-01', 'tavg': 26.2, 'tmin': None, 'tmax': None, 'prcp': 220.0, 'wspd': None, 'pres': 1009.4, 'tsun': None}, {'date': '1961-12-01', 'tavg': 25.7, 'tmin': None, 'tmax': None, 'prcp': 290.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1962-01-01', 'tavg': 25.2, 'tmin': None, 'tmax': None, 'prcp': 390.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1962-02-01', 'tavg': 25.9, 'tmin': None, 'tmax': None, 'prcp': 110.0, 'wspd': None, 'pres': 1011.3, 'tsun': None}, {'date': '1962-03-01', 'tavg': 26.3, 'tmin': None, 'tmax': None, 'prcp': 240.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1962-04-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 130.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1962-05-01', 'tavg': 27.4, 'tmin': None, 'tmax': None, 'prcp': 110.0, 'wspd': None, 'pres': 1008.3, 'tsun': None}, {'date': '1962-06-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 90.0, 'wspd': None, 'pres': 1009.4, 'tsun': None}, {'date': '1962-07-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 110.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1962-08-01', 'tavg': 26.1, 'tmin': None, 'tmax': None, 'prcp': 170.0, 'wspd': None, 'pres': 1010.4, 'tsun': None}, {'date': '1962-09-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 180.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1962-10-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1962-11-01', 'tavg': 26.2, 'tmin': None, 'tmax': None, 'prcp': 200.0, 'wspd': None, 'pres': 1010.2, 'tsun': None}, {'date': '1962-12-01', 'tavg': 25.7, 'tmin': None, 'tmax': None, 'prcp': 400.0, 'wspd': None, 'pres': 1010.6, 'tsun': None}, {'date': '1963-01-01', 'tavg': 25.2, 'tmin': None, 'tmax': None, 'prcp': 230.0, 'wspd': None, 'pres': 1010.2, 'tsun': None}, {'date': '1963-02-01', 'tavg': 25.4, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1011.3, 'tsun': None}, {'date': '1963-03-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 50.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1963-04-01', 'tavg': 27.4, 'tmin': None, 'tmax': None, 'prcp': 50.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1963-05-01', 'tavg': 27.7, 'tmin': None, 'tmax': None, 'prcp': 160.0, 'wspd': None, 'pres': 1007.8, 'tsun': None}, {'date': '1963-06-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 210.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1963-07-01', 'tavg': 27.4, 'tmin': None, 'tmax': None, 'prcp': 170.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1963-08-01', 'tavg': 27.3, 'tmin': None, 'tmax': None, 'prcp': 80.0, 'wspd': None, 'pres': 1009.2, 'tsun': None}, {'date': '1963-09-01', 'tavg': 27.3, 'tmin': None, 'tmax': None, 'prcp': 50.0, 'wspd': None, 'pres': 1009.9, 'tsun': None}, {'date': '1963-10-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 80.0, 'wspd': None, 'pres': 1010.6, 'tsun': None}, {'date': '1963-11-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 140.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1963-12-01', 'tavg': 25.6, 'tmin': None, 'tmax': None, 'prcp': 470.0, 'wspd': None, 'pres': 1010.6, 'tsun': None}, {'date': '1964-01-01', 'tavg': 26.2, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1010.4, 'tsun': None}, {'date': '1964-02-01', 'tavg': 26.0, 'tmin': None, 'tmax': None, 'prcp': 430.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1964-03-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 240.0, 'wspd': None, 'pres': 1009.9, 'tsun': None}, {'date': '1964-04-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 350.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1964-05-01', 'tavg': 27.6, 'tmin': None, 'tmax': None, 'prcp': 130.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1964-06-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 121.0, 'wspd': None, 'pres': 1008.6, 'tsun': None}, {'date': '1964-07-01', 'tavg': 25.9, 'tmin': None, 'tmax': None, 'prcp': 250.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1964-08-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 130.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1964-09-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1008.5, 'tsun': None}, {'date': '1964-10-01', 'tavg': 26.1, 'tmin': None, 'tmax': None, 'prcp': 330.0, 'wspd': None, 'pres': 1009.0, 'tsun': None}, {'date': '1964-11-01', 'tavg': 26.3, 'tmin': None, 'tmax': None, 'prcp': 102.0, 'wspd': None, 'pres': 1009.0, 'tsun': None}, {'date': '1964-12-01', 'tavg': 24.7, 'tmin': None, 'tmax': None, 'prcp': 440.0, 'wspd': None, 'pres': 1010.2, 'tsun': None}, {'date': '1965-01-01', 'tavg': 25.3, 'tmin': None, 'tmax': None, 'prcp': 220.0, 'wspd': None, 'pres': 1011.1, 'tsun': None}, {'date': '1965-02-01', 'tavg': 26.1, 'tmin': None, 'tmax': None, 'prcp': 290.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1965-03-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 192.0, 'wspd': None, 'pres': 1010.1, 'tsun': None}, {'date': '1965-04-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 74.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1965-05-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 260.0, 'wspd': None, 'pres': 1008.5, 'tsun': None}, {'date': '1965-06-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 190.0, 'wspd': None, 'pres': 1009.9, 'tsun': None}, {'date': '1965-07-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 30.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1965-08-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 120.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1965-09-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 120.0, 'wspd': None, 'pres': 1010.2, 'tsun': None}, {'date': '1965-10-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 230.0, 'wspd': None, 'pres': 1010.0, 'tsun': None}, {'date': '1965-11-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 170.0, 'wspd': None, 'pres': 1010.1, 'tsun': None}, {'date': '1965-12-01', 'tavg': 26.1, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1009.0, 'tsun': None}, {'date': '1966-01-01', 'tavg': 25.7, 'tmin': None, 'tmax': None, 'prcp': 260.0, 'wspd': None, 'pres': 1010.9, 'tsun': None}, {'date': '1966-02-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 120.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1966-03-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 280.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1966-04-01', 'tavg': 27.4, 'tmin': None, 'tmax': None, 'prcp': 164.0, 'wspd': None, 'pres': 1008.4, 'tsun': None}, {'date': '1966-05-01', 'tavg': 27.7, 'tmin': None, 'tmax': None, 'prcp': 230.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1966-06-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 100.0, 'wspd': None, 'pres': 1010.0, 'tsun': None}, {'date': '1966-07-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 149.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1966-08-01', 'tavg': 27.0, 'tmin': None, 'tmax': None, 'prcp': 100.0, 'wspd': None, 'pres': 1007.3, 'tsun': None}, {'date': '1966-09-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 80.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1966-10-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 218.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1966-11-01', 'tavg': 26.0, 'tmin': None, 'tmax': None, 'prcp': 370.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1966-12-01', 'tavg': 25.8, 'tmin': None, 'tmax': None, 'prcp': 400.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1967-01-01', 'tavg': 25.5, 'tmin': None, 'tmax': None, 'prcp': 480.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1967-02-01', 'tavg': 25.6, 'tmin': None, 'tmax': None, 'prcp': 450.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1967-03-01', 'tavg': 26.6, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1967-04-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 140.0, 'wspd': None, 'pres': 1009.2, 'tsun': None}, {'date': '1967-05-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 130.0, 'wspd': None, 'pres': 1008.5, 'tsun': None}, {'date': '1967-06-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 140.0, 'wspd': None, 'pres': 1008.4, 'tsun': None}, {'date': '1967-07-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 140.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1967-08-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 100.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1967-09-01', 'tavg': 26.6, 'tmin': None, 'tmax': None, 'prcp': 90.0, 'wspd': None, 'pres': 1010.0, 'tsun': None}, {'date': '1967-10-01', 'tavg': 26.6, 'tmin': None, 'tmax': None, 'prcp': 70.0, 'wspd': None, 'pres': 1010.2, 'tsun': None}, {'date': '1967-11-01', 'tavg': 25.8, 'tmin': None, 'tmax': None, 'prcp': 460.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1967-12-01', 'tavg': 25.2, 'tmin': None, 'tmax': None, 'prcp': 540.0, 'wspd': None, 'pres': 1010.8, 'tsun': None}, {'date': '1968-01-01', 'tavg': 25.4, 'tmin': None, 'tmax': None, 'prcp': 227.0, 'wspd': None, 'pres': 1010.0, 'tsun': None}, {'date': '1968-02-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 8.0, 'wspd': None, 'pres': 1011.3, 'tsun': None}, {'date': '1968-03-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 244.0, 'wspd': None, 'pres': 1010.9, 'tsun': None}, {'date': '1968-04-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 55.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1968-05-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 123.0, 'wspd': None, 'pres': 1008.3, 'tsun': None}, {'date': '1968-06-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 206.0, 'wspd': None, 'pres': 1008.7, 'tsun': None}, {'date': '1968-07-01', 'tavg': 26.3, 'tmin': None, 'tmax': None, 'prcp': 172.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1968-08-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 186.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1968-09-01', 'tavg': 26.6, 'tmin': None, 'tmax': None, 'prcp': 174.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1968-10-01', 'tavg': 25.9, 'tmin': None, 'tmax': None, 'prcp': 147.0, 'wspd': None, 'pres': 1009.9, 'tsun': None}, {'date': '1968-11-01', 'tavg': 25.7, 'tmin': None, 'tmax': None, 'prcp': 349.0, 'wspd': None, 'pres': 1010.7, 'tsun': None}, {'date': '1968-12-01', 'tavg': 25.4, 'tmin': None, 'tmax': None, 'prcp': 186.0, 'wspd': None, 'pres': 1009.0, 'tsun': None}, {'date': '1969-01-01', 'tavg': 26.0, 'tmin': None, 'tmax': None, 'prcp': 125.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1969-02-01', 'tavg': 26.3, 'tmin': None, 'tmax': None, 'prcp': 175.0, 'wspd': None, 'pres': 1009.8, 'tsun': None}, {'date': '1969-03-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 99.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1969-04-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 164.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1969-05-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 182.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1969-06-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 144.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1969-07-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1969-08-01', 'tavg': 26.1, 'tmin': None, 'tmax': None, 'prcp': 118.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1969-09-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 158.0, 'wspd': None, 'pres': 1009.0, 'tsun': None}, {'date': '1969-10-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 103.0, 'wspd': None, 'pres': 1009.3, 'tsun': None}, {'date': '1969-11-01', 'tavg': 26.0, 'tmin': None, 'tmax': None, 'prcp': 266.0, 'wspd': None, 'pres': 1009.4, 'tsun': None}, {'date': '1969-12-01', 'tavg': 25.2, 'tmin': None, 'tmax': None, 'prcp': 606.0, 'wspd': None, 'pres': 1010.3, 'tsun': None}, {'date': '1970-01-01', 'tavg': 25.8, 'tmin': None, 'tmax': None, 'prcp': 207.0, 'wspd': None, 'pres': 1010.6, 'tsun': None}, {'date': '1970-02-01', 'tavg': 26.1, 'tmin': None, 'tmax': None, 'prcp': 106.0, 'wspd': None, 'pres': 1010.8, 'tsun': None}, {'date': '1970-03-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 265.0, 'wspd': None, 'pres': 1008.6, 'tsun': None}, {'date': '1970-04-01', 'tavg': 26.6, 'tmin': None, 'tmax': None, 'prcp': 180.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1970-05-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 215.0, 'wspd': None, 'pres': 1007.7, 'tsun': None}, {'date': '1970-06-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 143.0, 'wspd': None, 'pres': 1008.7, 'tsun': None}, {'date': '1970-07-01', 'tavg': 26.6, 'tmin': None, 'tmax': None, 'prcp': 166.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1970-08-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 158.0, 'wspd': None, 'pres': 1008.5, 'tsun': None}, {'date': '1970-09-01', 'tavg': 26.3, 'tmin': None, 'tmax': None, 'prcp': 179.0, 'wspd': None, 'pres': 1008.3, 'tsun': None}, {'date': '1970-10-01', 'tavg': 26.3, 'tmin': None, 'tmax': None, 'prcp': 259.0, 'wspd': None, 'pres': 1008.5, 'tsun': None}, {'date': '1970-11-01', 'tavg': 25.8, 'tmin': None, 'tmax': None, 'prcp': 177.0, 'wspd': None, 'pres': 1008.6, 'tsun': None}, {'date': '1970-12-01', 'tavg': 25.6, 'tmin': None, 'tmax': None, 'prcp': 210.0, 'wspd': None, 'pres': 1008.6, 'tsun': None}, {'date': '1971-01-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-02-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-03-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-04-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 51.0, 'wspd': None, 'pres': 1008.4, 'tsun': None}, {'date': '1971-05-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 77.0, 'wspd': None, 'pres': 1007.7, 'tsun': None}, {'date': '1971-06-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-07-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-08-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-09-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-10-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-11-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-12-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-01-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-02-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-03-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-04-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-05-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-06-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-07-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-08-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 87.0, 'wspd': None, 'pres': 1009.4, 'tsun': None}, {'date': '1972-09-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-10-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-11-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-12-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1973-01-01', 'tavg': 25.8, 'tmin': None, 'tmax': None, 'prcp': 271.0, 'wspd': None, 'pres': 1010.4, 'tsun': None}, {'date': '1973-02-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 321.0, 'wspd': None, 'pres': 1010.7, 'tsun': None}, {'date': '1973-03-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 211.0, 'wspd': None, 'pres': 1009.3, 'tsun': None}, {'date': '1973-04-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 219.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1973-05-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1973-06-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1973-07-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1973-08-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1973-09-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1973-10-01', 'tavg': 26.2, 'tmin': None, 'tmax': None, 'prcp': 431.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1973-11-01', 'tavg': 25.8, 'tmin': None, 'tmax': None, 'prcp': 289.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1973-12-01', 'tavg': 24.8, 'tmin': None, 'tmax': None, 'prcp': 77.0, 'wspd': None, 'pres': 1009.4, 'tsun': None}, {'date': '1974-01-01', 'tavg': 24.8, 'tmin': None, 'tmax': None, 'prcp': 178.0, 'wspd': None, 'pres': 1009.4, 'tsun': None}, {'date': '1974-02-01', 'tavg': 25.3, 'tmin': None, 'tmax': None, 'prcp': 107.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1974-03-01', 'tavg': 25.9, 'tmin': None, 'tmax': None, 'prcp': 183.0, 'wspd': None, 'pres': 1009.8, 'tsun': None}, {'date': '1974-04-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 203.0, 'wspd': None, 'pres': 1008.3, 'tsun': N

In [13]:
weather_singap = response.json()

In [14]:
# Advanced flattening with json_normalize()
weather_singap_df = pd.json_normalize(weather_singap, 
                                  sep="_", 
                                  record_path="data")
                                  #meta=[["coord", "lon"], 
                                    #     ["coord", "lat"], 
                                    #     "base",
                                    #     ["main", "temp"],
                                    #     ["main", "feels_like"],
                                    #     ["main", "temp_min"],
                                    #     ["main", "temp_max"], 
                                    #     ["main", "pressure"], 
                                    #     ["main", "humidity"], 
                                    #     "visibility", 
                                    #     ["wind", "speed"], 
                                    #     ["wind", "deg"], 
                                    #     ["clouds", "all"], 
                                    #     "dt", 
                                    #     ["sys", "type"], 
                                    #     ["sys", "id"],
                                    #     ["sys", "country"],
                                    #     ["sys", "sunrise"],
                                    #     ["sys", "sunset"],
                                    #     "timezone",
                                    #     "id",
                                    #     "name",
                                    #     "cod"], 
                                  #record_prefix="weather_")
# Print weather_hh_df
print(weather_singap_df)

           date  tavg  tmin  tmax   prcp  wspd    pres  tsun
0    1961-01-01  25.6   NaN   NaN  150.0   NaN  1011.7   NaN
1    1961-02-01  26.4   NaN   NaN  130.0   NaN  1008.8   NaN
2    1961-03-01  26.8   NaN   NaN  300.0   NaN  1010.5   NaN
3    1961-04-01  28.2   NaN   NaN  140.0   NaN  1008.4   NaN
4    1961-05-01  27.5   NaN   NaN  140.0   NaN  1008.2   NaN
..          ...   ...   ...   ...    ...   ...     ...   ...
655  2015-08-01  28.5  25.8  31.2  188.2  11.9     NaN   NaN
656  2015-09-01  28.8  26.3  31.7   61.8  10.7     NaN   NaN
657  2015-10-01  28.7  26.1  32.2   87.3   9.4     NaN   NaN
658  2015-11-01  28.0  25.5  32.0   48.1   6.6     NaN   NaN
659  2015-12-01  27.8   NaN  31.4  314.5   NaN     NaN   NaN

[660 rows x 8 columns]

In [16]:
europe_arr_acc = pd.read_csv('data/tour_occ_arm_linear.csv')

In [17]:
europe_arr_acc

,DATAFLOW,LAST UPDATE,freq,c_resid,unit,nace_r2,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,DOM,NR,I551,AL,2017-06,28833.00,e
1,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,DOM,NR,I551,AL,2017-07,72723.00,e
2,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,DOM,NR,I551,AL,2017-08,98635.00,e
3,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,DOM,NR,I551,AL,2017-09,40580.00,e
4,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,DOM,NR,I551,AL,2017-10,31474.00,e
...,...,...,...,...,...,...,...,...,...,...
259580,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,TOTAL,PCH_SM_2Y,I553,AT,2010-04,36.57,NaN
259581,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,TOTAL,PCH_SM_2Y,I553,AT,2010-05,-19.63,NaN
259582,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,TOTAL,PCH_SM_2Y,I553,AT,2010-06,-17.36,NaN
259583,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,TOTAL,PCH_SM_2Y,I553,AT,2010-08,-4.80,NaN
259584,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,TOTAL,PCH_SM_2Y,I553,AT,2010-12,-16.98,NaN

In [20]:
europe_prices = pd.read_csv('data/prc_hicp_midx_linear.csv')

In [21]:
europe_prices

,DATAFLOW,LAST UPDATE,freq,unit,coicop,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I05,CP00,AT,1996-01,86.68,NaN
1,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I05,CP00,AT,1996-02,86.94,NaN
2,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I05,CP00,AT,1996-03,87.20,NaN
3,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I05,CP00,AT,1996-04,87.11,NaN
4,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I05,CP00,AT,1996-05,87.03,NaN
...,...,...,...,...,...,...,...,...,...
7201327,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I96,TOT_X_TBC,UK,2020-07,151.90,NaN
7201328,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I96,TOT_X_TBC,UK,2020-08,151.20,NaN
7201329,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I96,TOT_X_TBC,UK,2020-09,151.80,NaN
7201330,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I96,TOT_X_TBC,UK,2020-10,151.90,NaN
7201331,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I96,TOT_X_TBC,UK,2020-11,151.60,NaN

In [24]:
airtraffic_us_sf = pd.read_csv('data/Air_Traffic_Passenger_Statistics_20240704.csv')

In [26]:
airtraffic_us_sf

,Activity Period,Activity Period Start Date,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,data_as_of,data_loaded_at
0,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,31432,2024/06/20 01:00:26 PM,2024/06/22 03:01:45 PM
1,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,31353,2024/06/20 01:00:26 PM,2024/06/22 03:01:45 PM
2,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,2518,2024/06/20 01:00:26 PM,2024/06/22 03:01:45 PM
3,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Deplaned,Other,Terminal 2,D,1324,2024/06/20 01:00:26 PM,2024/06/22 03:01:45 PM
4,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Enplaned,Other,Terminal 2,D,1198,2024/06/20 01:00:26 PM,2024/06/22 03:01:45 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35988,202404,2024/04/01,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Enplaned,Other,International,A,9973,2024/06/20 01:00:27 PM,2024/06/22 03:01:45 PM
35989,202404,2024/04/01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Deplaned,Other,International,A,2860,2024/06/20 01:00:27 PM,2024/06/22 03:01:45 PM
35990,202404,2024/04/01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,International,A,2787,2024/06/20 01:00:27 PM,2024/06/22 03:01:45 PM
35991,202404,2024/04/01,ZIPAIR Tokyo Inc,ZG,ZIPAIR Tokyo Inc,ZG,International,Asia,Deplaned,Other,International,A,7683,2024/06/20 01:00:27 PM,2024/06/22 03:01:45 PM
35992,202404,2024/04/01,ZIPAIR Tokyo Inc,ZG,ZIPAIR Tokyo Inc,ZG,International,Asia,Enplaned,Other,International,A,5381,2024/06/20 01:00:27 PM,2024/06/22 03:01:45 PM

In [27]:
hotel_us_sf = pd.read_csv('data/Hotel_Occupancy_Rate.csv')

In [29]:
hotel_us_sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   category          11 non-null     object
 1   indicator         11 non-null     object
 2   sub_indicator     0 non-null      float64
 3   locality          11 non-null     object
 4   gender            0 non-null      float64
 5   council_district  0 non-null      float64
 6   fiscal_year       0 non-null      float64
 7   fy_qtr            0 non-null      float64
 8   calendar_year     11 non-null     int64
 9   cy_qtr            0 non-null      float64
 10  quarter_start     0 non-null      float64
 11  as_of_date        11 non-null     object
 12  unit_of_measure   11 non-null     object
 13  unit_text         0 non-null      float64
 14  value             11 non-null     float64
 15  source            11 non-null     object
dtypes: float64(9), int64(1), object(6)
memory usage: 1.5+ KB

In [122]:
neighbourhood_house_us = pd.read_csv('data/Seattle/Neighborhood_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

In [123]:
neighbourhood_house_us

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
0,112345,0,Maryvale,neighborhood,AZ,AZ,Phoenix,"Phoenix-Mesa-Chandler, AZ",Maricopa County,68480.722603,...,3.302797e+05,3.329863e+05,3.354548e+05,3.375472e+05,3.391495e+05,3.401860e+05,3.411732e+05,3.426699e+05,3.445194e+05,3.459643e+05
1,192689,1,Paradise,neighborhood,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,136199.158545,...,3.731814e+05,3.761054e+05,3.786422e+05,3.808419e+05,3.829743e+05,3.849157e+05,3.867800e+05,3.886463e+05,3.911197e+05,3.938024e+05
2,270958,2,Upper West Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,395132.130028,...,1.273215e+06,1.263159e+06,1.252057e+06,1.240167e+06,1.232625e+06,1.227011e+06,1.220838e+06,1.215409e+06,1.213069e+06,1.210757e+06
3,270957,3,Upper East Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,633772.545159,...,1.235173e+06,1.230692e+06,1.222557e+06,1.211522e+06,1.201378e+06,1.194617e+06,1.188671e+06,1.184783e+06,1.182830e+06,1.179746e+06
4,118208,4,South Los Angeles,neighborhood,CA,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,134024.185778,...,6.722329e+05,6.824812e+05,6.911821e+05,6.979382e+05,7.023435e+05,7.000086e+05,6.933555e+05,6.864334e+05,6.838049e+05,6.837710e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21637,816177,27095,South Cameron Creek,neighborhood,CA,CA,Visalia,"Visalia, CA",Tulare County,NaN,...,3.910097e+05,3.925465e+05,3.933269e+05,3.928864e+05,3.924584e+05,3.926580e+05,3.939009e+05,3.955237e+05,3.971150e+05,3.987400e+05
21638,827535,27095,Grayhawk,neighborhood,TX,TX,Forney,"Dallas-Fort Worth-Arlington, TX",Kaufman County,NaN,...,5.076477e+05,5.071564e+05,5.059096e+05,5.033244e+05,5.014770e+05,4.994957e+05,4.981459e+05,4.976080e+05,4.980389e+05,4.979249e+05
21639,826363,27095,Windchase,neighborhood,TX,TX,Waxahachie,"Dallas-Fort Worth-Arlington, TX",Ellis County,NaN,...,3.293229e+05,3.292905e+05,3.289313e+05,3.282658e+05,3.272525e+05,3.266493e+05,3.267631e+05,3.279217e+05,3.288351e+05,3.287991e+05
21640,816529,27095,Cresta Gila Estates,neighborhood,AZ,AZ,Yuma,"Yuma, AZ",Yuma County,NaN,...,4.643889e+05,4.637876e+05,4.628548e+05,4.630201e+05,4.637246e+05,4.647936e+05,4.649155e+05,4.660115e+05,4.674529e+05,4.689924e+05
21641,821683,27095,Russ Lo Valley,neighborhood,TX,TX,Benbrook,"Dallas-Fort Worth-Arlington, TX",Tarrant County,NaN,...,3.311376e+05,3.320318e+05,3.322576e+05,3.323525e+05,3.324976e+05,3.337023e+05,3.350680e+05,3.368883e+05,3.381075e+05,3.384216e+05

In [124]:
neighbourhood_house_seattl = neighbourhood_house_us[neighbourhood_house_us['City'] == 'Seattle']

In [125]:
neighbourhood_house_seattl

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
293,250206,305,Capitol Hill,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2.810247e+05,...,6.807855e+05,6.806954e+05,6.812829e+05,6.805585e+05,6.788656e+05,6.774117e+05,6.766370e+05,6.777093e+05,6.783761e+05,6.781494e+05
386,272001,404,University District,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2.830483e+05,...,9.009763e+05,8.983230e+05,8.957598e+05,8.925170e+05,8.884310e+05,8.854414e+05,8.859196e+05,8.910085e+05,8.964288e+05,8.988960e+05
712,271990,743,Magnolia,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,3.764331e+05,...,1.226638e+06,1.232150e+06,1.235415e+06,1.235857e+06,1.235449e+06,1.233553e+06,1.235737e+06,1.244114e+06,1.256864e+06,1.266570e+06
796,250788,834,Greenwood,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2.195883e+05,...,7.932938e+05,7.980691e+05,8.021029e+05,8.047862e+05,8.069403e+05,8.085233e+05,8.119452e+05,8.180684e+05,8.251770e+05,8.297761e+05
831,252248,870,Wallingford,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,3.162662e+05,...,1.069705e+06,1.074940e+06,1.078961e+06,1.081453e+06,1.083262e+06,1.084665e+06,1.089173e+06,1.097971e+06,1.109162e+06,1.117847e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12137,250149,13666,Broadmoor,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,1.292139e+06,...,3.435297e+06,3.452193e+06,3.460585e+06,3.462459e+06,3.449884e+06,3.432745e+06,3.422600e+06,3.434356e+06,3.462326e+06,3.487657e+06
12153,271804,13684,Atlantic,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,1.986661e+05,...,8.024652e+05,8.027271e+05,8.024069e+05,8.016656e+05,8.016629e+05,8.016564e+05,8.030595e+05,8.060856e+05,8.095521e+05,8.113781e+05
13311,344016,15147,Jackson Place,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,1.819988e+05,...,6.940490e+05,6.955665e+05,6.973712e+05,6.983398e+05,6.988606e+05,6.992526e+05,7.009127e+05,7.042739e+05,7.064384e+05,7.064466e+05
16320,344011,18964,Denny - Blaine,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,8.772009e+05,...,2.311162e+06,2.315797e+06,2.313797e+06,2.307081e+06,2.299918e+06,2.294659e+06,2.294321e+06,2.307955e+06,2.331983e+06,2.356277e+06
17375,271963,20296,Pioneer Square,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,3.579300e+05,...,6.447291e+05,6.441189e+05,6.430069e+05,6.409326e+05,6.389719e+05,6.374170e+05,6.359745e+05,6.354727e+05,6.348864e+05,6.331597e+05

In [126]:
neighbourhood_house_seattl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92 entries, 293 to 17375
Columns: 302 entries, RegionID to 2024-05-31
dtypes: float64(293), int64(2), object(7)
memory usage: 217.8+ KB

In [127]:
city_house_us = pd.read_csv('data/Seattle/City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

In [128]:
city_house_us

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,235313.088433,236565.381466,...,738062.272500,735570.252401,732521.684206,729709.950477,728444.250269,728925.801336,730964.446315,735153.532350,739741.503943,742929.702420
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,226580.683895,226923.751717,...,941921.477318,957995.422141,971229.507276,980078.791081,984925.995744,981769.549983,974120.368938,967341.666629,965903.641720,967128.447080
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,102227.139184,102201.165955,...,267746.203638,268208.747215,268364.678187,268208.245790,268002.409957,268226.510654,268745.493181,269762.770095,270826.073709,271475.726378
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,144397.165602,144435.744175,...,289919.632420,291676.743978,292738.058977,293243.462313,293154.183560,293069.596590,293579.092262,295043.264047,297129.541288,298396.794323
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,99443.420882,99535.742667,...,266853.185591,266399.290443,265542.096920,264257.746326,262724.839077,261606.795816,261025.983119,261191.654604,261523.043779,261500.707778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21543,102287,30116,Kachemak City,city,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,443708.047913,444044.207451,442910.981540,442198.082355,441643.511408,443015.468743,444664.659097,447729.863485,450256.015032,452869.497395
21544,47855,30116,Stirling City,city,CA,CA,"Chico, CA",Butte County,NaN,NaN,...,173259.089814,170880.929470,167642.931954,165344.490590,163119.090773,162636.445047,163302.185994,166456.580627,170601.186418,173981.825834
21545,39180,30116,Jumpertown,city,MS,MS,"Tupelo, MS",Prentiss County,NaN,NaN,...,130870.608046,130168.796519,129543.166552,128406.404633,127538.665416,126742.957562,126814.242832,127216.192386,128261.258685,129716.433210
21546,51728,30116,Dollar Bay,city,MI,MI,"Houghton, MI",Houghton County,NaN,NaN,...,140477.453804,141130.298071,141162.531527,140590.437221,139542.685241,138383.960453,137126.383820,137192.434594,138167.080084,139144.877474
21547,25149,30116,Hoisington,city,KS,KS,"Great Bend, KS",Barton County,NaN,NaN,...,76902.893359,79277.762834,81062.009348,82264.887674,82794.936096,82781.682195,82583.747469,83076.436034,84030.812529,85498.310495

In [129]:
city_house_seattl = city_house_us[city_house_us['RegionName'] == 'Seattle']

In [130]:
city_house_seattl

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
24,16037,24,Seattle,city,WA,WA,"Seattle-Tacoma-Bellevue, WA",King County,266359.30062,267660.19092,...,856342.080902,860094.059502,863155.435258,864633.158764,865402.365999,865759.48529,868113.919882,873617.890602,880277.178829,884827.685172

In [83]:
median_earn_2021 = pd.read_csv('data/Seattle/B24021_median_earnings_occupation_5YALL_-688641291965021816.csv')

In [84]:
median_earn_2021

,OBJECTID,GEOID,Tract Name,Median Earnings of Total Full-Time Year-Round Civilian Employed Population 16 Years and Over with Earnings,Median Earnings of Total Full-Time Year-Round Civilian Employed Population 16 Years and Over with Earnings - Margin of Error,"Median Earnings of All Management, Business, Science, and Arts Occupations","Median Earnings of All Management, Business, Science, and Arts Occupations - Margin of Error","Median Earnings of All Management, Business, and Financial Occupations","Median Earnings of All Management, Business, and Financial Occupations - Margin of Error",Median Earnings of Management Occupations,...,Median Earnings of Transportation Occupations - Margin of Error,Median Earnings of Material Moving Occupations,Median Earnings of Material Moving Occupations - Margin of Error,ACS Vintage,Jurisdiction,Community Reporting Area ID,Community Reporting Area Group,Community Reporting Area Name,Community Reporting Area Neighborhoods,Tract Label
0,1,53033000300,Census Tract 3,64706,9257,81140.0,4789.0,74688.0,20678.0,101477.0,...,103046.0,NaN,NaN,5Y20,Seattle,9.5,9.0,Haller Lake,"Haller Lake, Pinehurst",3.00
1,2,53033000402,Census Tract 4.02,75003,18638,99643.0,18801.0,112422.0,145382.0,177708.0,...,2084.0,40711.0,8680.0,5Y20,Seattle,9.1,9.0,Broadview/Bitter Lake,"Broadview, Bitter Lake",4.02
2,3,53033000500,Census Tract 5,129485,14464,132258.0,10715.0,134706.0,16827.0,129583.0,...,NaN,NaN,NaN,5Y20,Seattle,9.1,9.0,Broadview/Bitter Lake,"Broadview, Bitter Lake",5.00
3,4,53033000700,Census Tract 7,51330,14258,77839.0,18950.0,78776.0,49329.0,82321.0,...,11726.0,NaN,NaN,5Y20,Seattle,8.2,8.0,Olympic Hills/Victory Heights,"Lake City, Victory Heights, Olympic Hills, Pin...",7.00
4,5,53033000800,Census Tract 8,98676,10482,102279.0,13370.0,102353.0,14907.0,108542.0,...,NaN,NaN,NaN,5Y20,Seattle,8.3,8.0,Cedar Park/Meadowbrook,"Cedar Park, Lake City, Meadowbrook, Matthews B...",8.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2271,2272,53033032703,Census Tract 327.03; King County; Washington,72083,14459,102431.0,20591.0,143750.0,25704.0,148185.0,...,57748.0,42857.0,37923.0,5Y22,King County Balance,NaN,NaN,NaN,NaN,327.03
2272,2273,53033032704,Census Tract 327.04; King County; Washington,106748,6834,122885.0,24318.0,147308.0,39229.0,145568.0,...,0.0,0.0,0.0,5Y22,King County Balance,NaN,NaN,NaN,NaN,327.04
2273,2274,53033032705,Census Tract 327.05; King County; Washington,89583,28052,108975.0,21364.0,149653.0,37777.0,163071.0,...,0.0,0.0,0.0,5Y22,King County Balance,NaN,NaN,NaN,NaN,327.05
2274,2275,53033032706,Census Tract 327.06; King County; Washington,95714,18293,113409.0,3319.0,118614.0,14026.0,114420.0,...,20067.0,0.0,0.0,5Y22,King County Balance,NaN,NaN,NaN,NaN,327.06
2275,2276,53033032800,Census Tract 328; King County; Washington,85820,21593,146696.0,20737.0,164583.0,106013.0,215250.0,...,0.0,0.0,0.0,5Y22,King County Balance,NaN,NaN,NaN,NaN,328.00

In [131]:
crime_types_seattl = pd.read_csv('data/Seattle/SPD_Crime_Data__2008-Present_2024070(neighbourhood)4.csv')

In [132]:
crime_types_seattl

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,MCPP,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,02/05/2020 10:06:28 AM,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,ROOSEVELT/RAVENNA,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,02/05/2020 09:39:33 AM,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,ROOSEVELT/RAVENNA,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,02/05/2020 03:30:55 AM,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,MAGNOLIA,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044076,12605081469,02/05/2020 12:51:21 AM,NaN,02/05/2020 12:51:31 AM,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,BALLARD SOUTH,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128967,2013-247888,7687554356,07/13/2013 01:00:00 AM,NaN,07/13/2013 06:37:00 AM,A,PROPERTY,MOTOR VEHICLE THEFT,Motor Vehicle Theft,240,SW,F,F1,PIGEON POINT,41XX BLOCK OF 20TH AVE SW,-122.359028,47.565702
1128968,2013-227022,7682354808,06/26/2013 11:00:00 AM,06/29/2013 06:30:00 AM,06/29/2013 09:43:00 AM,A,PROPERTY,MOTOR VEHICLE THEFT,Motor Vehicle Theft,240,W,Q,Q3,QUEEN ANNE,1ST AVE N / VALLEY ST,-122.355386,47.626251
1128969,2012-045494,7672915592,02/14/2012 03:04:00 PM,NaN,02/14/2012 03:04:00 PM,A,PROPERTY,LARCENY-THEFT,Shoplifting,23C,N,U,U1,ROOSEVELT/RAVENNA,73XX BLOCK OF ROOSEVELT WAY NE,-122.317464,47.681894
1128970,2010-328592,7692227482,09/19/2010 04:59:00 PM,NaN,09/19/2010 04:59:00 PM,A,PROPERTY,LARCENY-THEFT,Shoplifting,23C,W,M,M3,DOWNTOWN COMMERCIAL,5XX BLOCK OF PIKE ST,-122.335018,47.610909
1128971,2010-064656,7686420892,02/25/2010 06:00:00 PM,02/26/2010 07:30:00 AM,02/26/2010 07:54:00 AM,A,PROPERTY,MOTOR VEHICLE THEFT,Motor Vehicle Theft,240,W,Q,Q2,QUEEN ANNE,26XX BLOCK OF 1ST AVE N,-122.355546,47.643681

In [81]:
crime_complains = pd.read_csv('data/Seattle/Code_Complaints_and_Violations_20240704.csv')

In [82]:
crime_complains

,RecordNum,RecordType,RecordTypeMapped,RecordTypeDesc,Description,OpenDate,LastInspDate,LastInspResult,StatusCurrent,OriginalAddress1,OriginalCity,OriginalState,OriginalZip,Link,Latitude,Longitude,Location1
0,001001-03CP,Complaint,Request,Construction,"Elevator gets stuck at least 3 times a week, f...",2003-11-10,POINT (-122.33582172 47.60642293),Completed,Completed,1100 2ND AVE,SEATTLE,WA,98101.0,https://cosaccela.seattle.gov/portal/customize...,47.606423,-122.335822,"(47.60642293, -122.33582172)"
1,001002-03CP,Complaint,Request,Construction,Concerned about RV pumpout that is currently b...,2003-11-10,POINT (-122.35191884 47.68639169),Completed,Completed,512 N 79TH ST,SEATTLE,WA,98103.0,https://cosaccela.seattle.gov/portal/customize...,47.686392,-122.351919,"(47.68639169, -122.35191884)"
2,001003-03CP,Complaint,Request,Vacant Building,The vacant red apple building and adjacent bui...,2003-11-10,POINT (-122.31388805 47.61559829),Completed,Completed,1400 E PINE ST,SEATTLE,WA,98122.0,https://cosaccela.seattle.gov/portal/customize...,47.615598,-122.313888,"(47.61559829, -122.31388805)"
3,001004-03CP,Complaint,Request,Land Use,Trailor and camper parked in back yard. Peopl...,2003-11-10,POINT (-122.36215164 47.69226044),Completed,Completed,332 NW 87TH ST,SEATTLE,WA,98117.0,https://cosaccela.seattle.gov/portal/customize...,47.692260,-122.362152,"(47.69226044, -122.36215164)"
4,001005-03CP,Complaint,Request,Land Use,"Illegal use of property.""Hawkers"" or vendors (...",2003-11-10,POINT (-122.33832038 47.60911773),Completed,Completed,1430 2ND AVE,SEATTLE,WA,98101.0,https://cosaccela.seattle.gov/portal/customize...,47.609118,-122.338320,"(47.60911773, -122.33832038)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207383,1058748-CT,Citation,Case,Land Use,"Parking in required yard, and more than 3 vehi...",2024-07-01,POINT (-122.36670799 47.72309019),Completed,Initiated,12757 8TH AVE NW,SEATTLE,WA,98177.0,https://cosaccela.seattle.gov/portal/customize...,47.723090,-122.366708,"(47.72309019, -122.36670799)"
207384,1058749-CT,Citation,Case,Weeds,Vegetation overgrowth,2024-07-01,POINT (-122.39734183 47.675704),Completed,Initiated,3037 NW 65TH ST,SEATTLE,WA,98117.0,https://cosaccela.seattle.gov/portal/customize...,47.675704,-122.397342,"(47.675704, -122.39734183)"
207385,1058750-CT,Citation,Case,Weeds,Vegetation overgrowth,2024-07-01,POINT (-122.35095943 47.6133206),Completed,Initiated,2501 ELLIOTT AVE,SEATTLE,WA,98121.0,https://cosaccela.seattle.gov/portal/customize...,47.613321,-122.350959,"(47.6133206, -122.35095943)"
207386,1058751-VI,Notice of Violation,Case,Land Use,Landscaping business has two LED lights at a 9...,2024-07-01,POINT (-122.34316696 47.61952018),Completed,Under Investigation,701 JOHN ST,SEATTLE,WA,98109.0,https://cosaccela.seattle.gov/portal/customize...,47.619520,-122.343167,"(47.61952018, -122.34316696)"
207387,1058752-CT,Citation,Case,Weeds,Vegetation overgrowth,2024-07-01,POINT (-122.37018357 47.68159864),Completed,Initiated,7302 11TH AVE NW,SEATTLE,WA,98117.0,https://cosaccela.seattle.gov/portal/customize...,47.681599,-122.370184,"(47.68159864, -122.37018357)"

In [ ]:
seattle_zip_neighborhoods = {
    "98101": ["Downtown", "Belltown"],
    "98102": ["Eastlake", "Capitol Hill", "Portage Bay"],
    "98103": ["Wallingford", "Fremont", "Green Lake"],
    "98104": ["Pioneer Square", "International District"],
    "98105": ["University District", "Laurelhurst"],
    "98106": ["Delridge", "Riverview"],
    "98107": ["Ballard"],
    "98108": ["Georgetown", "South Park"],
    "98109": ["South Lake Union", "Queen Anne"],
    "98112": ["Madison Park", "Washington Park", "Denny-Blaine"],
    "98115": ["Wedgewood", "Roosevelt", "Ravenna"],
    "98116": ["West Seattle", "Admiral"],
    "98117": ["Ballard", "Crown Hill"],
    "98118": ["Rainier Valley", "Columbia City"],
    "98119": ["Queen Anne"],
    "98121": ["Belltown"],
    "98122": ["Central District", "Madrona"],
    "98125": ["Lake City", "Northgate"],
    "98126": ["West Seattle", "Delridge"],
    "98133": ["Bitter Lake", "Broadview"],
    "98134": ["SoDo"],
    "98136": ["West Seattle", "Fauntleroy"],
    "98144": ["Beacon Hill", "Mt. Baker"],
    "98146": ["White Center"],
    "98148": ["Burien", "Normandy Park"],
    "98154": ["Downtown"],
    "98155": ["Lake Forest Park"],
    "98164": ["Downtown"],
    "98168": ["Tukwila"],
    "98174": ["Downtown"],
    "98177": ["Broadview", "Blue Ridge"],
    "98178": ["Skyway"],
    "98188": ["Tukwila"],
    "98195": ["University of Washington"],
    "98199": ["Magnolia"]
}

In [ ]:
# merge housing seattle with crimes
# housing(Varitsara) with median earnings on GeoID

In [133]:
neighbourhood_house_seattl.head(1)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
293,250206,305,Capitol Hill,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,281024.676435,...,680785.501673,680695.414187,681282.935266,680558.472917,678865.587335,677411.674882,676636.958085,677709.308288,678376.070722,678149.357958

In [139]:
neighbourhood_house_seattl.rename(columns={'RegionName':'neighbourhood'}, inplace=True)

/var/folders/kt/c_d917yx6vs3yh3pfv_r5dyc0000gn/T/ipykernel_79406/889125219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neighbourhood_house_seattl.rename(columns={'RegionName':'neighbourhood'}, inplace=True)

In [140]:
neighbourhood_house_seattl.head(1)

,RegionID,SizeRank,neighbourhood,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
293,250206,305,Capitol Hill,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,281024.676435,...,680785.501673,680695.414187,681282.935266,680558.472917,678865.587335,677411.674882,676636.958085,677709.308288,678376.070722,678149.357958

In [141]:
neighbourhood_house_seattl['neighbourhood'] = neighbourhood_house_seattl['neighbourhood'].str.lower()

/var/folders/kt/c_d917yx6vs3yh3pfv_r5dyc0000gn/T/ipykernel_79406/3532412953.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neighbourhood_house_seattl['neighbourhood'] = neighbourhood_house_seattl['neighbourhood'].str.lower()

In [143]:
neighbourhood_house_seattl.head(5)

,RegionID,SizeRank,neighbourhood,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
293,250206,305,capitol hill,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,281024.676435,...,6.807855e+05,6.806954e+05,6.812829e+05,6.805585e+05,6.788656e+05,6.774117e+05,6.766370e+05,6.777093e+05,6.783761e+05,6.781494e+05
386,272001,404,university district,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,283048.262412,...,9.009763e+05,8.983230e+05,8.957598e+05,8.925170e+05,8.884310e+05,8.854414e+05,8.859196e+05,8.910085e+05,8.964288e+05,8.988960e+05
712,271990,743,magnolia,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,376433.111250,...,1.226638e+06,1.232150e+06,1.235415e+06,1.235857e+06,1.235449e+06,1.233553e+06,1.235737e+06,1.244114e+06,1.256864e+06,1.266570e+06
796,250788,834,greenwood,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,219588.304198,...,7.932938e+05,7.980691e+05,8.021029e+05,8.047862e+05,8.069403e+05,8.085233e+05,8.119452e+05,8.180684e+05,8.251770e+05,8.297761e+05
831,252248,870,wallingford,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,316266.181858,...,1.069705e+06,1.074940e+06,1.078961e+06,1.081453e+06,1.083262e+06,1.084665e+06,1.089173e+06,1.097971e+06,1.109162e+06,1.117847e+06

In [154]:
len(neighbourhood_house_seattl['neighbourhood'].value_counts())

92

In [146]:
crime_types_seattl.head(1)

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,MCPP,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387

In [147]:
crime_types_seattl.rename(columns={'MCPP':'neighbourhood'}, inplace=True)

In [149]:
crime_types_seattl.head(1)

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,neighbourhood,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387

In [150]:
crime_types_seattl['neighbourhood'] = crime_types_seattl['neighbourhood'].str.lower()

In [151]:
crime_types_seattl.head()

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,neighbourhood,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,magnolia,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,02/05/2020 10:06:28 AM,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,roosevelt/ravenna,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,02/05/2020 09:39:33 AM,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,roosevelt/ravenna,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,02/05/2020 03:30:55 AM,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,magnolia,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044076,12605081469,02/05/2020 12:51:21 AM,NaN,02/05/2020 12:51:31 AM,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,ballard south,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193

In [153]:
len(crime_types_seattl['neighbourhood'].value_counts())

62

In [155]:
median_earn_2021.head(1)

,OBJECTID,GEOID,Tract Name,Median Earnings of Total Full-Time Year-Round Civilian Employed Population 16 Years and Over with Earnings,Median Earnings of Total Full-Time Year-Round Civilian Employed Population 16 Years and Over with Earnings - Margin of Error,"Median Earnings of All Management, Business, Science, and Arts Occupations","Median Earnings of All Management, Business, Science, and Arts Occupations - Margin of Error","Median Earnings of All Management, Business, and Financial Occupations","Median Earnings of All Management, Business, and Financial Occupations - Margin of Error",Median Earnings of Management Occupations,...,Median Earnings of Transportation Occupations - Margin of Error,Median Earnings of Material Moving Occupations,Median Earnings of Material Moving Occupations - Margin of Error,ACS Vintage,Jurisdiction,Community Reporting Area ID,Community Reporting Area Group,Community Reporting Area Name,Community Reporting Area Neighborhoods,Tract Label
0,1,53033000300,Census Tract 3,64706,9257,81140.0,4789.0,74688.0,20678.0,101477.0,...,103046.0,NaN,NaN,5Y20,Seattle,9.5,9.0,Haller Lake,"Haller Lake, Pinehurst",3.0

In [156]:
median_earn_2021.rename(columns={'Community Reporting Area Neighborhoods':'neighbourhood'}, inplace=True) #crime_types_seattl.rename(columns={'MCPP':'neighbourhood'}, inplace=True)

In [160]:
median_earn_2021['neighbourhood']=median_earn_2021['neighbourhood'].str.lower() #crime_types_seattl['neighbourhood'] = crime_types_seattl['neighbourhood'].str.lower()

In [163]:
median_earn_2021.head(1)

,OBJECTID,GEOID,Tract Name,Median Earnings of Total Full-Time Year-Round Civilian Employed Population 16 Years and Over with Earnings,Median Earnings of Total Full-Time Year-Round Civilian Employed Population 16 Years and Over with Earnings - Margin of Error,"Median Earnings of All Management, Business, Science, and Arts Occupations","Median Earnings of All Management, Business, Science, and Arts Occupations - Margin of Error","Median Earnings of All Management, Business, and Financial Occupations","Median Earnings of All Management, Business, and Financial Occupations - Margin of Error",Median Earnings of Management Occupations,...,Median Earnings of Transportation Occupations - Margin of Error,Median Earnings of Material Moving Occupations,Median Earnings of Material Moving Occupations - Margin of Error,ACS Vintage,Jurisdiction,Community Reporting Area ID,Community Reporting Area Group,Community Reporting Area Name,neighbourhood,Tract Label
0,1,53033000300,Census Tract 3,64706,9257,81140.0,4789.0,74688.0,20678.0,101477.0,...,103046.0,NaN,NaN,5Y20,Seattle,9.5,9.0,Haller Lake,"haller lake, pinehurst",3.0

In [162]:
median_earn_2021['neighbourhood']= median_earn_2021['neighbourhood'].str.split(', ')[1]

ValueError: Length of values (2) does not match length of index (2276)