In [342]:
import pandas as pd
#import psycopg2
#import sql_functions as sf    #postgres SQL
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import scipy as stat
#import sqlalchemy
import chardet
import datetime as dt

In [1]:
import requests

url = "https://meteostat.p.rapidapi.com/point/monthly"

querystring = {"lat":"1.29027","lon":"103.851959","start":"1961-01-01","end":"2015-12-01"}

headers = {
	"x-rapidapi-key": "fec571117amshe8bc07b67dd0a44p1d445djsn00cdcce7c9da",
	"x-rapidapi-host": "meteostat.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

print(response.json())

{'meta': {'generated': '2024-07-03 09:52:14', 'stations': ['48694', '48692', '48698', '96087']}, 'data': [{'date': '1961-01-01', 'tavg': 25.6, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1011.7, 'tsun': None}, {'date': '1961-02-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 130.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1961-03-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 300.0, 'wspd': None, 'pres': 1010.5, 'tsun': None}, {'date': '1961-04-01', 'tavg': 28.2, 'tmin': None, 'tmax': None, 'prcp': 140.0, 'wspd': None, 'pres': 1008.4, 'tsun': None}, {'date': '1961-05-01', 'tavg': 27.5, 'tmin': None, 'tmax': None, 'prcp': 140.0, 'wspd': None, 'pres': 1008.2, 'tsun': None}, {'date': '1961-06-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 120.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1961-07-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 120.0, 'wspd': None, 'pres': 1009.3, 'tsun': None}, {'date': '1961-08-01', 'tavg': 27.3, 'tmin': None, 'tmax': None, 'prcp': 70.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1961-09-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 90.0, 'wspd': None, 'pres': 1009.8, 'tsun': None}, {'date': '1961-10-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 50.0, 'wspd': None, 'pres': 1009.8, 'tsun': None}, {'date': '1961-11-01', 'tavg': 26.2, 'tmin': None, 'tmax': None, 'prcp': 220.0, 'wspd': None, 'pres': 1009.4, 'tsun': None}, {'date': '1961-12-01', 'tavg': 25.7, 'tmin': None, 'tmax': None, 'prcp': 290.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1962-01-01', 'tavg': 25.2, 'tmin': None, 'tmax': None, 'prcp': 390.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1962-02-01', 'tavg': 25.9, 'tmin': None, 'tmax': None, 'prcp': 110.0, 'wspd': None, 'pres': 1011.3, 'tsun': None}, {'date': '1962-03-01', 'tavg': 26.3, 'tmin': None, 'tmax': None, 'prcp': 240.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1962-04-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 130.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1962-05-01', 'tavg': 27.4, 'tmin': None, 'tmax': None, 'prcp': 110.0, 'wspd': None, 'pres': 1008.3, 'tsun': None}, {'date': '1962-06-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 90.0, 'wspd': None, 'pres': 1009.4, 'tsun': None}, {'date': '1962-07-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 110.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1962-08-01', 'tavg': 26.1, 'tmin': None, 'tmax': None, 'prcp': 170.0, 'wspd': None, 'pres': 1010.4, 'tsun': None}, {'date': '1962-09-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 180.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1962-10-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1962-11-01', 'tavg': 26.2, 'tmin': None, 'tmax': None, 'prcp': 200.0, 'wspd': None, 'pres': 1010.2, 'tsun': None}, {'date': '1962-12-01', 'tavg': 25.7, 'tmin': None, 'tmax': None, 'prcp': 400.0, 'wspd': None, 'pres': 1010.6, 'tsun': None}, {'date': '1963-01-01', 'tavg': 25.2, 'tmin': None, 'tmax': None, 'prcp': 230.0, 'wspd': None, 'pres': 1010.2, 'tsun': None}, {'date': '1963-02-01', 'tavg': 25.4, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1011.3, 'tsun': None}, {'date': '1963-03-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 50.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1963-04-01', 'tavg': 27.4, 'tmin': None, 'tmax': None, 'prcp': 50.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1963-05-01', 'tavg': 27.7, 'tmin': None, 'tmax': None, 'prcp': 160.0, 'wspd': None, 'pres': 1007.8, 'tsun': None}, {'date': '1963-06-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 210.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1963-07-01', 'tavg': 27.4, 'tmin': None, 'tmax': None, 'prcp': 170.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1963-08-01', 'tavg': 27.3, 'tmin': None, 'tmax': None, 'prcp': 80.0, 'wspd': None, 'pres': 1009.2, 'tsun': None}, {'date': '1963-09-01', 'tavg': 27.3, 'tmin': None, 'tmax': None, 'prcp': 50.0, 'wspd': None, 'pres': 1009.9, 'tsun': None}, {'date': '1963-10-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 80.0, 'wspd': None, 'pres': 1010.6, 'tsun': None}, {'date': '1963-11-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 140.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1963-12-01', 'tavg': 25.6, 'tmin': None, 'tmax': None, 'prcp': 470.0, 'wspd': None, 'pres': 1010.6, 'tsun': None}, {'date': '1964-01-01', 'tavg': 26.2, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1010.4, 'tsun': None}, {'date': '1964-02-01', 'tavg': 26.0, 'tmin': None, 'tmax': None, 'prcp': 430.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1964-03-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 240.0, 'wspd': None, 'pres': 1009.9, 'tsun': None}, {'date': '1964-04-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 350.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1964-05-01', 'tavg': 27.6, 'tmin': None, 'tmax': None, 'prcp': 130.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1964-06-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 121.0, 'wspd': None, 'pres': 1008.6, 'tsun': None}, {'date': '1964-07-01', 'tavg': 25.9, 'tmin': None, 'tmax': None, 'prcp': 250.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1964-08-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 130.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1964-09-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1008.5, 'tsun': None}, {'date': '1964-10-01', 'tavg': 26.1, 'tmin': None, 'tmax': None, 'prcp': 330.0, 'wspd': None, 'pres': 1009.0, 'tsun': None}, {'date': '1964-11-01', 'tavg': 26.3, 'tmin': None, 'tmax': None, 'prcp': 102.0, 'wspd': None, 'pres': 1009.0, 'tsun': None}, {'date': '1964-12-01', 'tavg': 24.7, 'tmin': None, 'tmax': None, 'prcp': 440.0, 'wspd': None, 'pres': 1010.2, 'tsun': None}, {'date': '1965-01-01', 'tavg': 25.3, 'tmin': None, 'tmax': None, 'prcp': 220.0, 'wspd': None, 'pres': 1011.1, 'tsun': None}, {'date': '1965-02-01', 'tavg': 26.1, 'tmin': None, 'tmax': None, 'prcp': 290.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1965-03-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 192.0, 'wspd': None, 'pres': 1010.1, 'tsun': None}, {'date': '1965-04-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 74.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1965-05-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 260.0, 'wspd': None, 'pres': 1008.5, 'tsun': None}, {'date': '1965-06-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 190.0, 'wspd': None, 'pres': 1009.9, 'tsun': None}, {'date': '1965-07-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 30.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1965-08-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 120.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1965-09-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 120.0, 'wspd': None, 'pres': 1010.2, 'tsun': None}, {'date': '1965-10-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 230.0, 'wspd': None, 'pres': 1010.0, 'tsun': None}, {'date': '1965-11-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 170.0, 'wspd': None, 'pres': 1010.1, 'tsun': None}, {'date': '1965-12-01', 'tavg': 26.1, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1009.0, 'tsun': None}, {'date': '1966-01-01', 'tavg': 25.7, 'tmin': None, 'tmax': None, 'prcp': 260.0, 'wspd': None, 'pres': 1010.9, 'tsun': None}, {'date': '1966-02-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 120.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1966-03-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 280.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1966-04-01', 'tavg': 27.4, 'tmin': None, 'tmax': None, 'prcp': 164.0, 'wspd': None, 'pres': 1008.4, 'tsun': None}, {'date': '1966-05-01', 'tavg': 27.7, 'tmin': None, 'tmax': None, 'prcp': 230.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1966-06-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 100.0, 'wspd': None, 'pres': 1010.0, 'tsun': None}, {'date': '1966-07-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 149.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1966-08-01', 'tavg': 27.0, 'tmin': None, 'tmax': None, 'prcp': 100.0, 'wspd': None, 'pres': 1007.3, 'tsun': None}, {'date': '1966-09-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 80.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1966-10-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 218.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1966-11-01', 'tavg': 26.0, 'tmin': None, 'tmax': None, 'prcp': 370.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1966-12-01', 'tavg': 25.8, 'tmin': None, 'tmax': None, 'prcp': 400.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1967-01-01', 'tavg': 25.5, 'tmin': None, 'tmax': None, 'prcp': 480.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1967-02-01', 'tavg': 25.6, 'tmin': None, 'tmax': None, 'prcp': 450.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1967-03-01', 'tavg': 26.6, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1967-04-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 140.0, 'wspd': None, 'pres': 1009.2, 'tsun': None}, {'date': '1967-05-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 130.0, 'wspd': None, 'pres': 1008.5, 'tsun': None}, {'date': '1967-06-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 140.0, 'wspd': None, 'pres': 1008.4, 'tsun': None}, {'date': '1967-07-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 140.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1967-08-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 100.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1967-09-01', 'tavg': 26.6, 'tmin': None, 'tmax': None, 'prcp': 90.0, 'wspd': None, 'pres': 1010.0, 'tsun': None}, {'date': '1967-10-01', 'tavg': 26.6, 'tmin': None, 'tmax': None, 'prcp': 70.0, 'wspd': None, 'pres': 1010.2, 'tsun': None}, {'date': '1967-11-01', 'tavg': 25.8, 'tmin': None, 'tmax': None, 'prcp': 460.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1967-12-01', 'tavg': 25.2, 'tmin': None, 'tmax': None, 'prcp': 540.0, 'wspd': None, 'pres': 1010.8, 'tsun': None}, {'date': '1968-01-01', 'tavg': 25.4, 'tmin': None, 'tmax': None, 'prcp': 227.0, 'wspd': None, 'pres': 1010.0, 'tsun': None}, {'date': '1968-02-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 8.0, 'wspd': None, 'pres': 1011.3, 'tsun': None}, {'date': '1968-03-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 244.0, 'wspd': None, 'pres': 1010.9, 'tsun': None}, {'date': '1968-04-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 55.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1968-05-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 123.0, 'wspd': None, 'pres': 1008.3, 'tsun': None}, {'date': '1968-06-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 206.0, 'wspd': None, 'pres': 1008.7, 'tsun': None}, {'date': '1968-07-01', 'tavg': 26.3, 'tmin': None, 'tmax': None, 'prcp': 172.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1968-08-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 186.0, 'wspd': None, 'pres': 1009.1, 'tsun': None}, {'date': '1968-09-01', 'tavg': 26.6, 'tmin': None, 'tmax': None, 'prcp': 174.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1968-10-01', 'tavg': 25.9, 'tmin': None, 'tmax': None, 'prcp': 147.0, 'wspd': None, 'pres': 1009.9, 'tsun': None}, {'date': '1968-11-01', 'tavg': 25.7, 'tmin': None, 'tmax': None, 'prcp': 349.0, 'wspd': None, 'pres': 1010.7, 'tsun': None}, {'date': '1968-12-01', 'tavg': 25.4, 'tmin': None, 'tmax': None, 'prcp': 186.0, 'wspd': None, 'pres': 1009.0, 'tsun': None}, {'date': '1969-01-01', 'tavg': 26.0, 'tmin': None, 'tmax': None, 'prcp': 125.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1969-02-01', 'tavg': 26.3, 'tmin': None, 'tmax': None, 'prcp': 175.0, 'wspd': None, 'pres': 1009.8, 'tsun': None}, {'date': '1969-03-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 99.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1969-04-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 164.0, 'wspd': None, 'pres': 1009.5, 'tsun': None}, {'date': '1969-05-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 182.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1969-06-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 144.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1969-07-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 150.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1969-08-01', 'tavg': 26.1, 'tmin': None, 'tmax': None, 'prcp': 118.0, 'wspd': None, 'pres': 1009.7, 'tsun': None}, {'date': '1969-09-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 158.0, 'wspd': None, 'pres': 1009.0, 'tsun': None}, {'date': '1969-10-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 103.0, 'wspd': None, 'pres': 1009.3, 'tsun': None}, {'date': '1969-11-01', 'tavg': 26.0, 'tmin': None, 'tmax': None, 'prcp': 266.0, 'wspd': None, 'pres': 1009.4, 'tsun': None}, {'date': '1969-12-01', 'tavg': 25.2, 'tmin': None, 'tmax': None, 'prcp': 606.0, 'wspd': None, 'pres': 1010.3, 'tsun': None}, {'date': '1970-01-01', 'tavg': 25.8, 'tmin': None, 'tmax': None, 'prcp': 207.0, 'wspd': None, 'pres': 1010.6, 'tsun': None}, {'date': '1970-02-01', 'tavg': 26.1, 'tmin': None, 'tmax': None, 'prcp': 106.0, 'wspd': None, 'pres': 1010.8, 'tsun': None}, {'date': '1970-03-01', 'tavg': 26.8, 'tmin': None, 'tmax': None, 'prcp': 265.0, 'wspd': None, 'pres': 1008.6, 'tsun': None}, {'date': '1970-04-01', 'tavg': 26.6, 'tmin': None, 'tmax': None, 'prcp': 180.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1970-05-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 215.0, 'wspd': None, 'pres': 1007.7, 'tsun': None}, {'date': '1970-06-01', 'tavg': 26.9, 'tmin': None, 'tmax': None, 'prcp': 143.0, 'wspd': None, 'pres': 1008.7, 'tsun': None}, {'date': '1970-07-01', 'tavg': 26.6, 'tmin': None, 'tmax': None, 'prcp': 166.0, 'wspd': None, 'pres': 1009.6, 'tsun': None}, {'date': '1970-08-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 158.0, 'wspd': None, 'pres': 1008.5, 'tsun': None}, {'date': '1970-09-01', 'tavg': 26.3, 'tmin': None, 'tmax': None, 'prcp': 179.0, 'wspd': None, 'pres': 1008.3, 'tsun': None}, {'date': '1970-10-01', 'tavg': 26.3, 'tmin': None, 'tmax': None, 'prcp': 259.0, 'wspd': None, 'pres': 1008.5, 'tsun': None}, {'date': '1970-11-01', 'tavg': 25.8, 'tmin': None, 'tmax': None, 'prcp': 177.0, 'wspd': None, 'pres': 1008.6, 'tsun': None}, {'date': '1970-12-01', 'tavg': 25.6, 'tmin': None, 'tmax': None, 'prcp': 210.0, 'wspd': None, 'pres': 1008.6, 'tsun': None}, {'date': '1971-01-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-02-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-03-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-04-01', 'tavg': 27.1, 'tmin': None, 'tmax': None, 'prcp': 51.0, 'wspd': None, 'pres': 1008.4, 'tsun': None}, {'date': '1971-05-01', 'tavg': 27.2, 'tmin': None, 'tmax': None, 'prcp': 77.0, 'wspd': None, 'pres': 1007.7, 'tsun': None}, {'date': '1971-06-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-07-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-08-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-09-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-10-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-11-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1971-12-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-01-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-02-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-03-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-04-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-05-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-06-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-07-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-08-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 87.0, 'wspd': None, 'pres': 1009.4, 'tsun': None}, {'date': '1972-09-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-10-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-11-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1972-12-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1973-01-01', 'tavg': 25.8, 'tmin': None, 'tmax': None, 'prcp': 271.0, 'wspd': None, 'pres': 1010.4, 'tsun': None}, {'date': '1973-02-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 321.0, 'wspd': None, 'pres': 1010.7, 'tsun': None}, {'date': '1973-03-01', 'tavg': 26.5, 'tmin': None, 'tmax': None, 'prcp': 211.0, 'wspd': None, 'pres': 1009.3, 'tsun': None}, {'date': '1973-04-01', 'tavg': 26.7, 'tmin': None, 'tmax': None, 'prcp': 219.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1973-05-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1973-06-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1973-07-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1973-08-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1973-09-01', 'tavg': None, 'tmin': None, 'tmax': None, 'prcp': None, 'wspd': None, 'pres': None, 'tsun': None}, {'date': '1973-10-01', 'tavg': 26.2, 'tmin': None, 'tmax': None, 'prcp': 431.0, 'wspd': None, 'pres': 1008.1, 'tsun': None}, {'date': '1973-11-01', 'tavg': 25.8, 'tmin': None, 'tmax': None, 'prcp': 289.0, 'wspd': None, 'pres': 1008.8, 'tsun': None}, {'date': '1973-12-01', 'tavg': 24.8, 'tmin': None, 'tmax': None, 'prcp': 77.0, 'wspd': None, 'pres': 1009.4, 'tsun': None}, {'date': '1974-01-01', 'tavg': 24.8, 'tmin': None, 'tmax': None, 'prcp': 178.0, 'wspd': None, 'pres': 1009.4, 'tsun': None}, {'date': '1974-02-01', 'tavg': 25.3, 'tmin': None, 'tmax': None, 'prcp': 107.0, 'wspd': None, 'pres': 1008.9, 'tsun': None}, {'date': '1974-03-01', 'tavg': 25.9, 'tmin': None, 'tmax': None, 'prcp': 183.0, 'wspd': None, 'pres': 1009.8, 'tsun': None}, {'date': '1974-04-01', 'tavg': 26.4, 'tmin': None, 'tmax': None, 'prcp': 203.0, 'wspd': None, 'pres': 1008.3, 'tsun': N

In [13]:
weather_singap = response.json()

In [14]:
# Advanced flattening with json_normalize()
weather_singap_df = pd.json_normalize(weather_singap, 
                                  sep="_", 
                                  record_path="data")
                                  #meta=[["coord", "lon"], 
                                    #     ["coord", "lat"], 
                                    #     "base",
                                    #     ["main", "temp"],
                                    #     ["main", "feels_like"],
                                    #     ["main", "temp_min"],
                                    #     ["main", "temp_max"], 
                                    #     ["main", "pressure"], 
                                    #     ["main", "humidity"], 
                                    #     "visibility", 
                                    #     ["wind", "speed"], 
                                    #     ["wind", "deg"], 
                                    #     ["clouds", "all"], 
                                    #     "dt", 
                                    #     ["sys", "type"], 
                                    #     ["sys", "id"],
                                    #     ["sys", "country"],
                                    #     ["sys", "sunrise"],
                                    #     ["sys", "sunset"],
                                    #     "timezone",
                                    #     "id",
                                    #     "name",
                                    #     "cod"], 
                                  #record_prefix="weather_")
# Print weather_hh_df
print(weather_singap_df)

           date  tavg  tmin  tmax   prcp  wspd    pres  tsun
0    1961-01-01  25.6   NaN   NaN  150.0   NaN  1011.7   NaN
1    1961-02-01  26.4   NaN   NaN  130.0   NaN  1008.8   NaN
2    1961-03-01  26.8   NaN   NaN  300.0   NaN  1010.5   NaN
3    1961-04-01  28.2   NaN   NaN  140.0   NaN  1008.4   NaN
4    1961-05-01  27.5   NaN   NaN  140.0   NaN  1008.2   NaN
..          ...   ...   ...   ...    ...   ...     ...   ...
655  2015-08-01  28.5  25.8  31.2  188.2  11.9     NaN   NaN
656  2015-09-01  28.8  26.3  31.7   61.8  10.7     NaN   NaN
657  2015-10-01  28.7  26.1  32.2   87.3   9.4     NaN   NaN
658  2015-11-01  28.0  25.5  32.0   48.1   6.6     NaN   NaN
659  2015-12-01  27.8   NaN  31.4  314.5   NaN     NaN   NaN

[660 rows x 8 columns]

In [16]:
europe_arr_acc = pd.read_csv('data/tour_occ_arm_linear.csv')

In [17]:
europe_arr_acc

,DATAFLOW,LAST UPDATE,freq,c_resid,unit,nace_r2,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,DOM,NR,I551,AL,2017-06,28833.00,e
1,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,DOM,NR,I551,AL,2017-07,72723.00,e
2,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,DOM,NR,I551,AL,2017-08,98635.00,e
3,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,DOM,NR,I551,AL,2017-09,40580.00,e
4,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,DOM,NR,I551,AL,2017-10,31474.00,e
...,...,...,...,...,...,...,...,...,...,...
259580,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,TOTAL,PCH_SM_2Y,I553,AT,2010-04,36.57,NaN
259581,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,TOTAL,PCH_SM_2Y,I553,AT,2010-05,-19.63,NaN
259582,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,TOTAL,PCH_SM_2Y,I553,AT,2010-06,-17.36,NaN
259583,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,TOTAL,PCH_SM_2Y,I553,AT,2010-08,-4.80,NaN
259584,ESTAT:TOUR_OCC_ARM(1.0),02/07/24 23:00:00,M,TOTAL,PCH_SM_2Y,I553,AT,2010-12,-16.98,NaN

In [20]:
europe_prices = pd.read_csv('data/prc_hicp_midx_linear.csv')

In [21]:
europe_prices

,DATAFLOW,LAST UPDATE,freq,unit,coicop,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I05,CP00,AT,1996-01,86.68,NaN
1,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I05,CP00,AT,1996-02,86.94,NaN
2,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I05,CP00,AT,1996-03,87.20,NaN
3,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I05,CP00,AT,1996-04,87.11,NaN
4,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I05,CP00,AT,1996-05,87.03,NaN
...,...,...,...,...,...,...,...,...,...
7201327,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I96,TOT_X_TBC,UK,2020-07,151.90,NaN
7201328,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I96,TOT_X_TBC,UK,2020-08,151.20,NaN
7201329,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I96,TOT_X_TBC,UK,2020-09,151.80,NaN
7201330,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I96,TOT_X_TBC,UK,2020-10,151.90,NaN
7201331,ESTAT:PRC_HICP_MIDX(1.0),02/07/24 11:00:00,M,I96,TOT_X_TBC,UK,2020-11,151.60,NaN

In [24]:
airtraffic_us_sf = pd.read_csv('data/Air_Traffic_Passenger_Statistics_20240704.csv')

In [26]:
airtraffic_us_sf

,Activity Period,Activity Period Start Date,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,data_as_of,data_loaded_at
0,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,31432,2024/06/20 01:00:26 PM,2024/06/22 03:01:45 PM
1,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,31353,2024/06/20 01:00:26 PM,2024/06/22 03:01:45 PM
2,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,2518,2024/06/20 01:00:26 PM,2024/06/22 03:01:45 PM
3,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Deplaned,Other,Terminal 2,D,1324,2024/06/20 01:00:26 PM,2024/06/22 03:01:45 PM
4,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Enplaned,Other,Terminal 2,D,1198,2024/06/20 01:00:26 PM,2024/06/22 03:01:45 PM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35988,202404,2024/04/01,Virgin Atlantic,VS,Virgin Atlantic,VS,International,Europe,Enplaned,Other,International,A,9973,2024/06/20 01:00:27 PM,2024/06/22 03:01:45 PM
35989,202404,2024/04/01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Deplaned,Other,International,A,2860,2024/06/20 01:00:27 PM,2024/06/22 03:01:45 PM
35990,202404,2024/04/01,WestJet Airlines,WS,WestJet Airlines,WS,International,Canada,Enplaned,Other,International,A,2787,2024/06/20 01:00:27 PM,2024/06/22 03:01:45 PM
35991,202404,2024/04/01,ZIPAIR Tokyo Inc,ZG,ZIPAIR Tokyo Inc,ZG,International,Asia,Deplaned,Other,International,A,7683,2024/06/20 01:00:27 PM,2024/06/22 03:01:45 PM
35992,202404,2024/04/01,ZIPAIR Tokyo Inc,ZG,ZIPAIR Tokyo Inc,ZG,International,Asia,Enplaned,Other,International,A,5381,2024/06/20 01:00:27 PM,2024/06/22 03:01:45 PM

In [27]:
hotel_us_sf = pd.read_csv('data/Hotel_Occupancy_Rate.csv')

In [29]:
hotel_us_sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   category          11 non-null     object
 1   indicator         11 non-null     object
 2   sub_indicator     0 non-null      float64
 3   locality          11 non-null     object
 4   gender            0 non-null      float64
 5   council_district  0 non-null      float64
 6   fiscal_year       0 non-null      float64
 7   fy_qtr            0 non-null      float64
 8   calendar_year     11 non-null     int64
 9   cy_qtr            0 non-null      float64
 10  quarter_start     0 non-null      float64
 11  as_of_date        11 non-null     object
 12  unit_of_measure   11 non-null     object
 13  unit_text         0 non-null      float64
 14  value             11 non-null     float64
 15  source            11 non-null     object
dtypes: float64(9), int64(1), object(6)
memory usage: 1.5+ KB

In [122]:
neighbourhood_house_us = pd.read_csv('data/Seattle/Neighborhood_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

In [123]:
neighbourhood_house_us

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
0,112345,0,Maryvale,neighborhood,AZ,AZ,Phoenix,"Phoenix-Mesa-Chandler, AZ",Maricopa County,68480.722603,...,3.302797e+05,3.329863e+05,3.354548e+05,3.375472e+05,3.391495e+05,3.401860e+05,3.411732e+05,3.426699e+05,3.445194e+05,3.459643e+05
1,192689,1,Paradise,neighborhood,NV,NV,Las Vegas,"Las Vegas-Henderson-Paradise, NV",Clark County,136199.158545,...,3.731814e+05,3.761054e+05,3.786422e+05,3.808419e+05,3.829743e+05,3.849157e+05,3.867800e+05,3.886463e+05,3.911197e+05,3.938024e+05
2,270958,2,Upper West Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,395132.130028,...,1.273215e+06,1.263159e+06,1.252057e+06,1.240167e+06,1.232625e+06,1.227011e+06,1.220838e+06,1.215409e+06,1.213069e+06,1.210757e+06
3,270957,3,Upper East Side,neighborhood,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",New York County,633772.545159,...,1.235173e+06,1.230692e+06,1.222557e+06,1.211522e+06,1.201378e+06,1.194617e+06,1.188671e+06,1.184783e+06,1.182830e+06,1.179746e+06
4,118208,4,South Los Angeles,neighborhood,CA,CA,Los Angeles,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,134024.185778,...,6.722329e+05,6.824812e+05,6.911821e+05,6.979382e+05,7.023435e+05,7.000086e+05,6.933555e+05,6.864334e+05,6.838049e+05,6.837710e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21637,816177,27095,South Cameron Creek,neighborhood,CA,CA,Visalia,"Visalia, CA",Tulare County,NaN,...,3.910097e+05,3.925465e+05,3.933269e+05,3.928864e+05,3.924584e+05,3.926580e+05,3.939009e+05,3.955237e+05,3.971150e+05,3.987400e+05
21638,827535,27095,Grayhawk,neighborhood,TX,TX,Forney,"Dallas-Fort Worth-Arlington, TX",Kaufman County,NaN,...,5.076477e+05,5.071564e+05,5.059096e+05,5.033244e+05,5.014770e+05,4.994957e+05,4.981459e+05,4.976080e+05,4.980389e+05,4.979249e+05
21639,826363,27095,Windchase,neighborhood,TX,TX,Waxahachie,"Dallas-Fort Worth-Arlington, TX",Ellis County,NaN,...,3.293229e+05,3.292905e+05,3.289313e+05,3.282658e+05,3.272525e+05,3.266493e+05,3.267631e+05,3.279217e+05,3.288351e+05,3.287991e+05
21640,816529,27095,Cresta Gila Estates,neighborhood,AZ,AZ,Yuma,"Yuma, AZ",Yuma County,NaN,...,4.643889e+05,4.637876e+05,4.628548e+05,4.630201e+05,4.637246e+05,4.647936e+05,4.649155e+05,4.660115e+05,4.674529e+05,4.689924e+05
21641,821683,27095,Russ Lo Valley,neighborhood,TX,TX,Benbrook,"Dallas-Fort Worth-Arlington, TX",Tarrant County,NaN,...,3.311376e+05,3.320318e+05,3.322576e+05,3.323525e+05,3.324976e+05,3.337023e+05,3.350680e+05,3.368883e+05,3.381075e+05,3.384216e+05

In [124]:
neighbourhood_house_seattl = neighbourhood_house_us[neighbourhood_house_us['City'] == 'Seattle']

In [125]:
neighbourhood_house_seattl

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
293,250206,305,Capitol Hill,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2.810247e+05,...,6.807855e+05,6.806954e+05,6.812829e+05,6.805585e+05,6.788656e+05,6.774117e+05,6.766370e+05,6.777093e+05,6.783761e+05,6.781494e+05
386,272001,404,University District,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2.830483e+05,...,9.009763e+05,8.983230e+05,8.957598e+05,8.925170e+05,8.884310e+05,8.854414e+05,8.859196e+05,8.910085e+05,8.964288e+05,8.988960e+05
712,271990,743,Magnolia,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,3.764331e+05,...,1.226638e+06,1.232150e+06,1.235415e+06,1.235857e+06,1.235449e+06,1.233553e+06,1.235737e+06,1.244114e+06,1.256864e+06,1.266570e+06
796,250788,834,Greenwood,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2.195883e+05,...,7.932938e+05,7.980691e+05,8.021029e+05,8.047862e+05,8.069403e+05,8.085233e+05,8.119452e+05,8.180684e+05,8.251770e+05,8.297761e+05
831,252248,870,Wallingford,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,3.162662e+05,...,1.069705e+06,1.074940e+06,1.078961e+06,1.081453e+06,1.083262e+06,1.084665e+06,1.089173e+06,1.097971e+06,1.109162e+06,1.117847e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12137,250149,13666,Broadmoor,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,1.292139e+06,...,3.435297e+06,3.452193e+06,3.460585e+06,3.462459e+06,3.449884e+06,3.432745e+06,3.422600e+06,3.434356e+06,3.462326e+06,3.487657e+06
12153,271804,13684,Atlantic,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,1.986661e+05,...,8.024652e+05,8.027271e+05,8.024069e+05,8.016656e+05,8.016629e+05,8.016564e+05,8.030595e+05,8.060856e+05,8.095521e+05,8.113781e+05
13311,344016,15147,Jackson Place,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,1.819988e+05,...,6.940490e+05,6.955665e+05,6.973712e+05,6.983398e+05,6.988606e+05,6.992526e+05,7.009127e+05,7.042739e+05,7.064384e+05,7.064466e+05
16320,344011,18964,Denny - Blaine,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,8.772009e+05,...,2.311162e+06,2.315797e+06,2.313797e+06,2.307081e+06,2.299918e+06,2.294659e+06,2.294321e+06,2.307955e+06,2.331983e+06,2.356277e+06
17375,271963,20296,Pioneer Square,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,3.579300e+05,...,6.447291e+05,6.441189e+05,6.430069e+05,6.409326e+05,6.389719e+05,6.374170e+05,6.359745e+05,6.354727e+05,6.348864e+05,6.331597e+05

In [126]:
neighbourhood_house_seattl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92 entries, 293 to 17375
Columns: 302 entries, RegionID to 2024-05-31
dtypes: float64(293), int64(2), object(7)
memory usage: 217.8+ KB

In [127]:
city_house_us = pd.read_csv('data/Seattle/City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

In [128]:
city_house_us

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,235313.088433,236565.381466,...,738062.272500,735570.252401,732521.684206,729709.950477,728444.250269,728925.801336,730964.446315,735153.532350,739741.503943,742929.702420
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,226580.683895,226923.751717,...,941921.477318,957995.422141,971229.507276,980078.791081,984925.995744,981769.549983,974120.368938,967341.666629,965903.641720,967128.447080
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,102227.139184,102201.165955,...,267746.203638,268208.747215,268364.678187,268208.245790,268002.409957,268226.510654,268745.493181,269762.770095,270826.073709,271475.726378
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,144397.165602,144435.744175,...,289919.632420,291676.743978,292738.058977,293243.462313,293154.183560,293069.596590,293579.092262,295043.264047,297129.541288,298396.794323
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,99443.420882,99535.742667,...,266853.185591,266399.290443,265542.096920,264257.746326,262724.839077,261606.795816,261025.983119,261191.654604,261523.043779,261500.707778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21543,102287,30116,Kachemak City,city,AK,AK,NaN,Kenai Peninsula Borough,NaN,NaN,...,443708.047913,444044.207451,442910.981540,442198.082355,441643.511408,443015.468743,444664.659097,447729.863485,450256.015032,452869.497395
21544,47855,30116,Stirling City,city,CA,CA,"Chico, CA",Butte County,NaN,NaN,...,173259.089814,170880.929470,167642.931954,165344.490590,163119.090773,162636.445047,163302.185994,166456.580627,170601.186418,173981.825834
21545,39180,30116,Jumpertown,city,MS,MS,"Tupelo, MS",Prentiss County,NaN,NaN,...,130870.608046,130168.796519,129543.166552,128406.404633,127538.665416,126742.957562,126814.242832,127216.192386,128261.258685,129716.433210
21546,51728,30116,Dollar Bay,city,MI,MI,"Houghton, MI",Houghton County,NaN,NaN,...,140477.453804,141130.298071,141162.531527,140590.437221,139542.685241,138383.960453,137126.383820,137192.434594,138167.080084,139144.877474
21547,25149,30116,Hoisington,city,KS,KS,"Great Bend, KS",Barton County,NaN,NaN,...,76902.893359,79277.762834,81062.009348,82264.887674,82794.936096,82781.682195,82583.747469,83076.436034,84030.812529,85498.310495

In [129]:
city_house_seattl = city_house_us[city_house_us['RegionName'] == 'Seattle']

In [130]:
city_house_seattl

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
24,16037,24,Seattle,city,WA,WA,"Seattle-Tacoma-Bellevue, WA",King County,266359.30062,267660.19092,...,856342.080902,860094.059502,863155.435258,864633.158764,865402.365999,865759.48529,868113.919882,873617.890602,880277.178829,884827.685172

In [83]:
median_earn_2021 = pd.read_csv('data/Seattle/B24021_median_earnings_occupation_5YALL_-688641291965021816.csv')

In [166]:
median_earn_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2276 entries, 0 to 2275
Data columns (total 82 columns):
 #   Column                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                         --------------  -----
 0   OBJECTID                                                                                                                       2276 non-null   int64
 1   GEOID                                                                                                                          2276 non-null   int64
 2   Tract Name                                                                                                                     2276 non-null   object
 3   Median Earnings of Total Full-Time Year-Round Civilian Employed Population 16 Years and Over with Earnings                     2276 non-null   int64
 4   Median Earnings of Total Full-Time Year-Round Civilian Employed Population 16 Years and Over with Earnings - Margin of Error   2276 non-null   int64
 5   Median Earnings of All Management, Business, Science, and Arts Occupations                                                     2274 non-null   float64
 6   Median Earnings of All Management, Business, Science, and Arts Occupations - Margin of Error                                   2274 non-null   float64
 7   Median Earnings of All Management, Business, and Financial Occupations                                                         2260 non-null   float64
 8   Median Earnings of All Management, Business, and Financial Occupations - Margin of Error                                       2259 non-null   float64
 9   Median Earnings of Management Occupations                                                                                      2228 non-null   float64
 10  Median Earnings of Management Occupations - Margin of Error                                                                    2226 non-null   float64
 11  Median Earnings of Business and Financial Operations Occupations                                                               2221 non-null   float64
 12  Median Earnings of Business and Financial Operations Occupations - Margin of Error                                             2219 non-null   float64
 13  Median Earnings of All Computer, Engineering, and Science Occupations                                                          2216 non-null   float64
 14  Median Earnings of All Computer, Engineering, and Science Occupations - Margin of Error                                        2215 non-null   float64
 15  Median Earnings of Computer and Mathematical Occupations                                                                       2196 non-null   float64
 16  Median Earnings of Computer and Mathematical Occupations - Margin of Error                                                     2193 non-null   float64
 17  Median Earnings of Architecture and Engineering Occupations                                                                    2135 non-null   float64
 18  Median Earnings of Architecture and Engineering Occupations - Margin of Error                                                  2132 non-null   float64
 19  Median Earnings of Life, Physical, and Social Science Occupations                                                              1689 non-null   float64
 20  Median Earnings of Life, Physical, and Social Science Occupations - Margin of Error                                            1684 non-null   float64
 21  Median Earnings of All Education, Legal, Community Service, Arts, and Media Occupations                                        2231 non-null   float64
 22  Median Earnings of All Education, Legal, Community Service, Arts, and Media Occupations - Margin of Error                      2231 non-null   float64
 23  Median Earnings of Community and Social Service Occupations                                                                    1897 non-null   float64
 24  Median Earnings of Community and Social Service Occupations - Margin of Error                                                  1897 non-null   float64
 25  Median Earnings of Legal Occupations                                                                                           1912 non-null   float64
 26  Median Earnings of Legal Occupations - Margin of Error                                                                         1896 non-null   float64
 27  Median Earnings of Educational Instruction, and Library Occupations                                                            2057 non-null   float64
 28  Median Earnings of Educational Instruction, and Library Occupations - Margin of Error                                          2057 non-null   float64
 29  Median Earnings of Arts, Design, Entertainment, Sports, and Media Occupations                                                  2001 non-null   float64
 30  Median Earnings of Arts, Design, Entertainment, Sports, and Media Occupations - Margin of Error                                2000 non-null   float64
 31  Median Earnings of All Healthcare Practitioners and Technical Occupations                                                      2164 non-null   float64
 32  Median Earnings of All Healthcare Practitioners and Technical Occupations - Margin of Error                                    2150 non-null   float64
 33  Median Earnings of Health Diagnosing and Treating Practitioners and Other Technical Occupations                                2107 non-null   float64
 34  Median Earnings of Health Diagnosing and Treating Practitioners and Other Technical Occupations - Margin of Error              2087 non-null   float64
 35  Median Earnings of Health Technologists and Technicians Occupations                                                            1857 non-null   float64
 36  Median Earnings of Health Technologists and Technicians Occupations - Margin of Error                                          1856 non-null   float64
 37  Median Earnings of All Service Occupations                                                                                     2083 non-null   float64
 38  Median Earnings of All Service Occupations - Margin of Error                                                                   2083 non-null   float64
 39  Median Earnings of Healthcare Support Occupations                                                                              1922 non-null   float64
 40  Median Earnings of Healthcare Support Occupations - Margin of Error                                                            1922 non-null   float64
 41  Median Earnings of All Protective Service Occupations                                                                          1851 non-null   float64
 42  Median Earnings of All Protective Service Occupations - Margin of Error                                                        1851 non-null   float64
 43  Median Earnings of Fire Fighting and Prevention, and Other Protective Service Workers including Supervisors                    1817 non-null   float64
 44  Median Earnings of Fire Fighting and Prevention, and Other Protective Service Workers including Supervisors - Margin of Error  1817 non-null   float64
 45  Median Earnings of Law Enforcement Workers including Supervisors                                                               1792 non-null   float64
 46  Median Earnings of Law Enforcement Workers including Supervisors - Margin of Error                                             1792 non-null   float64
 47  Median Earnings of Food Preparation and Serving Related Occupations                                                            2009 non-null   float64
 48  Median Earnings of Food Preparation and Serving Related Occupations - Margin of Error                                          2009 non-null   float64
 49  Median Earnings of Building and Grounds Cleaning and Maintenance Occupations                                                   1918 non-null   float64
 50  Median Earnings of Building and Grounds Cleaning and Maintenance Occupations - Margin of Error                                 1917 non-null   float64
 51  Median Earnings of Personal Care and Service Occupations                                                                       1891 non-null   float64
 52  Median Earnings of Personal Care and Service Occupations - Margin of Error                                                     1891 non-null   float64
 53  Median Earnings of All Sales and Office Occupations                                                                            2262 non-null   float64
 54  Median Earnings of All Sales and Office Occupations - Margin of Error                                                          2262 non-null   float64
 55  Median Earnings of Sales and Related Occupations                                                                               2228 non-null   float64
 56  Median Earnings of Sales and Related Occupations - Margin of Error                                                             2225 non-null   float64
 57  Median Earnings of Office and Administrative Support Occupations                                                               2151 non-null   float64
 58  Median Earnings of Office and Administrative Support Occupations - Margin of Error                                             2151 non-null   float64
 59  Median Earnings of All Natural Resources, Construction, and Maintenance Occupations                                            2066 non-null   float64
 60  Median Earnings of All Natural Resources, Construction, and Maintenance Occupations - Margin of Error                          2066 non-null   float64
 61  Median Earnings of Farming, Fishing, and Forestry Occupations                                                                  1787 non-null   float64
 62  Median Earnings of Farming, Fishing, and Forestry Occupations - Margin of Error                                                1787 non-null   float64
 63  Median Earnings of Construction and Extraction Occupations                                                                     1901 non-null   float64
 64  Median Earnings of Construction and Extraction Occupations - Margin of Error                                                   1901 non-null   float64
 65  Median Earnings of Installation, Maintenance, and Repair Occupations                                                           1938 non-null   float64
 66  Median Earnings of Installation, Maintenance, and Repair Occupations - Margin of Error                                         1938 non-null   float64
 67  Median Earnings of All Production, Transportation, and Material Moving Occupations                                             1994 non-null   float64
 68  Median Earnings of All Production, Transportation, and Material Moving Occupations - Margin of Error                           1993 non-null   float64
 69  Median Earnings of Production Occupations                                                                                      1842 non-null   float64
 70  Median Earnings of Production Occupations - Margin of Error                                                                    1841 non-null   float64
 71  Median Earnings of Transportation Occupations                                                                                  1978 non-null   float64
 72  Median Earnings of Transportation Occupations - Margin of Error                                                                1978 non-null   float64
 73  Median Earnings of Material Moving Occupations                                                                                 1912 non-null   float64
 74  Median Earnings of Material Moving Occupations - Margin of Error                                                               1912 non-null   float64
 75  ACS Vintage                                                                                                                    2276 non-null   object
 76  Jurisdiction                                                                                                                   2276 non-null   object
 77  Community Reporting Area ID                                                                                                    795 non-null    float64
 78  Community Reporting Area Group                                                                                                 795 non-null    float64
 79  Community Reporting Area Name                                                                                                  795 non-null    object
 80  neighbourhood                                                                                                                  795 non-null    object
 81  Tract Label                                                                                                                    2276 non-null   float64
dtypes: float64(73), int64(4), object(5)
memory usage: 1.4+ MB

In [170]:
median_earn_2021.value_counts()

OBJECTID  GEOID        Tract Name                                    Median Earnings of Total Full-Time Year-Round Civilian Employed Population 16 Years and Over with Earnings  Median Earnings of Total Full-Time Year-Round Civilian Employed Population 16 Years and Over with Earnings - Margin of Error  Median Earnings of All Management, Business, Science, and Arts Occupations  Median Earnings of All Management, Business, Science, and Arts Occupations - Margin of Error  Median Earnings of All Management, Business, and Financial Occupations  Median Earnings of All Management, Business, and Financial Occupations - Margin of Error  Median Earnings of Management Occupations  Median Earnings of Management Occupations - Margin of Error  Median Earnings of Business and Financial Operations Occupations  Median Earnings of Business and Financial Operations Occupations - Margin of Error  Median Earnings of All Computer, Engineering, and Science Occupations  Median Earnings of All Computer, Engineering, and Science Occupations - Margin of Error  Median Earnings of Computer and Mathematical Occupations  Median Earnings of Computer and Mathematical Occupations - Margin of Error  Median Earnings of Architecture and Engineering Occupations  Median Earnings of Architecture and Engineering Occupations - Margin of Error  Median Earnings of Life, Physical, and Social Science Occupations  Median Earnings of Life, Physical, and Social Science Occupations - Margin of Error  Median Earnings of All Education, Legal, Community Service, Arts, and Media Occupations  Median Earnings of All Education, Legal, Community Service, Arts, and Media Occupations - Margin of Error  Median Earnings of Community and Social Service Occupations  Median Earnings of Community and Social Service Occupations - Margin of Error  Median Earnings of Legal Occupations  Median Earnings of Legal Occupations - Margin of Error  Median Earnings of Educational Instruction, and Library Occupations  Median Earnings of Educational Instruction, and Library Occupations - Margin of Error  Median Earnings of Arts, Design, Entertainment, Sports, and Media Occupations  Median Earnings of Arts, Design, Entertainment, Sports, and Media Occupations - Margin of Error  Median Earnings of All Healthcare Practitioners and Technical Occupations  Median Earnings of All Healthcare Practitioners and Technical Occupations - Margin of Error  Median Earnings of Health Diagnosing and Treating Practitioners and Other Technical Occupations  Median Earnings of Health Diagnosing and Treating Practitioners and Other Technical Occupations - Margin of Error  Median Earnings of Health Technologists and Technicians Occupations  Median Earnings of Health Technologists and Technicians Occupations - Margin of Error  Median Earnings of All Service Occupations  Median Earnings of All Service Occupations - Margin of Error  Median Earnings of Healthcare Support Occupations  Median Earnings of Healthcare Support Occupations - Margin of Error  Median Earnings of All Protective Service Occupations  Median Earnings of All Protective Service Occupations - Margin of Error  Median Earnings of Fire Fighting and Prevention, and Other Protective Service Workers including Supervisors  Median Earnings of Fire Fighting and Prevention, and Other Protective Service Workers including Supervisors - Margin of Error  Median Earnings of Law Enforcement Workers including Supervisors  Median Earnings of Law Enforcement Workers including Supervisors - Margin of Error  Median Earnings of Food Preparation and Serving Related Occupations  Median Earnings of Food Preparation and Serving Related Occupations - Margin of Error  Median Earnings of Building and Grounds Cleaning and Maintenance Occupations  Median Earnings of Building and Grounds Cleaning and Maintenance Occupations - Margin of Error  Median Earnings of Personal Care and Service Occupations  Median Earnings of Personal Care and Service Occupations - Margin of Error  Median Earnings of All Sales and Office Occupations  Median Earnings of All Sales and Office Occupations - Margin of Error  Median Earnings of Sales and Related Occupations  Median Earnings of Sales and Related Occupations - Margin of Error  Median Earnings of Office and Administrative Support Occupations  Median Earnings of Office and Administrative Support Occupations - Margin of Error  Median Earnings of All Natural Resources, Construction, and Maintenance Occupations  Median Earnings of All Natural Resources, Construction, and Maintenance Occupations - Margin of Error  Median Earnings of Farming, Fishing, and Forestry Occupations  Median Earnings of Farming, Fishing, and Forestry Occupations - Margin of Error  Median Earnings of Construction and Extraction Occupations  Median Earnings of Construction and Extraction Occupations - Margin of Error  Median Earnings of Installation, Maintenance, and Repair Occupations  Median Earnings of Installation, Maintenance, and Repair Occupations - Margin of Error  Median Earnings of All Production, Transportation, and Material Moving Occupations  Median Earnings of All Production, Transportation, and Material Moving Occupations - Margin of Error  Median Earnings of Production Occupations  Median Earnings of Production Occupations - Margin of Error  Median Earnings of Transportation Occupations  Median Earnings of Transportation Occupations - Margin of Error  Median Earnings of Material Moving Occupations  Median Earnings of Material Moving Occupations - Margin of Error  ACS Vintage  Jurisdiction  Community Reporting Area ID  Community Reporting Area Group  Community Reporting Area Name       neighbourhood                                                                                                       Tract Label
495       53033000101  Census Tract 1.01, King County, Washington    58431                                                                                                       5767                                                                                                                          75595.0                                                                     15716.0                                                                                       82250.0                                                                 42827.0                                                                                   102708.0                                   66791.0                                                      69821.0                                                           49246.0                                                                             78275.0                                                                10107.0                                                                                  78785.0                                                   1085.0                                                                      76250.0                                                      56275.0                                                                        0.0                                                                0.0                                                                                  58728.0                                                                                  854.0                                                                                                      0.0                                                          0.0                                                                            0.0                                   0.0                                                     0.0                                                                  0.0                                                                                    0.0                                                                            0.0                                                                                              77554.0                                                                    39782.0                                                                                      78641.0                                                                                          23111.0                                                                                                            0.0                                                                  0.0                                                                                    38194.0                                     22300.0                                                       0.0                                                0.0                                                                  0.0                                                    0.0                                                                      0.0                                                                                                          0.0                                                                                                                            0.0                                                               0.0                                                                                 37708.0                                                              16401.0                                                                                0.0                                                                           0.0                                                                                             0.0                                                       0.0                                                                         46287.0                                              18874.0                                                                55694.0                                           7352.0                                                              39111.0                                                           14523.0                                                                             0.0                                                                                  0.0                                                                                                    0.0                                                            0.0                                                                              0.0                                                         0.0                                                                           0.0                                                                   0.0                                                                                     36837.0                                                                             32003.0                                                                                               0.0                                        0.0                                                          0.0                                            0.0                                                              63315.0                                         29709.0                                                           5Y21         Seattle       8.3                          8.0                             Cedar Park/Meadowbrook              cedar park, lake city, meadowbrook, matthews beach                                                                  1.01           1
1511      53033011500  Census Tract 115, King County, Washington     57905                                                                                                       4835                                                                                                                          61026.0                                                                     7968.0                                                                                        58466.0                                                                 10518.0                                                                                   61667.0                                    31480.0                                                      57784.0                                                           4638.0                                                                              81071.0                                                                17915.0                                                                                  66389.0                                                   46409.0                                                                     83929.0                                                      24861.0                                                                        63214.0                                                            15981.0                                                                              55000.0                                                                                  6936.0                                                                                                     52337.0                                                      2666.0                                                                         101250.0                              19345.0                                                 55446.0                                                              12187.0                                                                                63889.0                                                                        11594.0                                                                                          120804.0                                                                   60848.0                                                                                      120804.0                                                                                         60848.0                                                                                                            0.0                                                                  0.0                                                                                    31125.0                                     8090.0                                                        0.0                                                0.0                                                                  97222.0                                                19191.0                                                                  96111.0                                                                                                      62247.0                                                                                                                        0.0                                                               0.0                                                                                 26190.0                                                              1107.0                                                                                 31750.0                                                                       30518.0                                                                                         0.0                                                       0.0                                                                         46593.0                                              2859.0                                                                 47000.0                                           74372.0                                                             46514.0                                                           2743.0                                                                              59444.0                                                                              27333.0                                                                                                0.0                                                            0.0                                                                              80500.0                                                     12397.0                                                                       32159.0                                                               45051.0                                                                                 61250.0                                                                             28612.0                                                                                               66563.0                                    32048.0                                                      60833.0                                        36605.0                                                          0.0                                             0.0                                                               5Y15         Seattle       2.4                          2.0                             Roxhill/Westwood                    roxhill, westwood, south delridge, white center                                                                     115.00         1

In [131]:
crime_types_seattl = pd.read_csv('data/Seattle/SPD_Crime_Data__2008-Present_2024070(neighbourhood)4.csv')

In [132]:
crime_types_seattl

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,MCPP,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,02/05/2020 10:06:28 AM,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,ROOSEVELT/RAVENNA,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,02/05/2020 09:39:33 AM,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,ROOSEVELT/RAVENNA,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,02/05/2020 03:30:55 AM,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,MAGNOLIA,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044076,12605081469,02/05/2020 12:51:21 AM,NaN,02/05/2020 12:51:31 AM,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,BALLARD SOUTH,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128967,2013-247888,7687554356,07/13/2013 01:00:00 AM,NaN,07/13/2013 06:37:00 AM,A,PROPERTY,MOTOR VEHICLE THEFT,Motor Vehicle Theft,240,SW,F,F1,PIGEON POINT,41XX BLOCK OF 20TH AVE SW,-122.359028,47.565702
1128968,2013-227022,7682354808,06/26/2013 11:00:00 AM,06/29/2013 06:30:00 AM,06/29/2013 09:43:00 AM,A,PROPERTY,MOTOR VEHICLE THEFT,Motor Vehicle Theft,240,W,Q,Q3,QUEEN ANNE,1ST AVE N / VALLEY ST,-122.355386,47.626251
1128969,2012-045494,7672915592,02/14/2012 03:04:00 PM,NaN,02/14/2012 03:04:00 PM,A,PROPERTY,LARCENY-THEFT,Shoplifting,23C,N,U,U1,ROOSEVELT/RAVENNA,73XX BLOCK OF ROOSEVELT WAY NE,-122.317464,47.681894
1128970,2010-328592,7692227482,09/19/2010 04:59:00 PM,NaN,09/19/2010 04:59:00 PM,A,PROPERTY,LARCENY-THEFT,Shoplifting,23C,W,M,M3,DOWNTOWN COMMERCIAL,5XX BLOCK OF PIKE ST,-122.335018,47.610909
1128971,2010-064656,7686420892,02/25/2010 06:00:00 PM,02/26/2010 07:30:00 AM,02/26/2010 07:54:00 AM,A,PROPERTY,MOTOR VEHICLE THEFT,Motor Vehicle Theft,240,W,Q,Q2,QUEEN ANNE,26XX BLOCK OF 1ST AVE N,-122.355546,47.643681

In [81]:
crime_complains = pd.read_csv('data/Seattle/Code_Complaints_and_Violations_20240704.csv')

In [82]:
crime_complains

,RecordNum,RecordType,RecordTypeMapped,RecordTypeDesc,Description,OpenDate,LastInspDate,LastInspResult,StatusCurrent,OriginalAddress1,OriginalCity,OriginalState,OriginalZip,Link,Latitude,Longitude,Location1
0,001001-03CP,Complaint,Request,Construction,"Elevator gets stuck at least 3 times a week, f...",2003-11-10,POINT (-122.33582172 47.60642293),Completed,Completed,1100 2ND AVE,SEATTLE,WA,98101.0,https://cosaccela.seattle.gov/portal/customize...,47.606423,-122.335822,"(47.60642293, -122.33582172)"
1,001002-03CP,Complaint,Request,Construction,Concerned about RV pumpout that is currently b...,2003-11-10,POINT (-122.35191884 47.68639169),Completed,Completed,512 N 79TH ST,SEATTLE,WA,98103.0,https://cosaccela.seattle.gov/portal/customize...,47.686392,-122.351919,"(47.68639169, -122.35191884)"
2,001003-03CP,Complaint,Request,Vacant Building,The vacant red apple building and adjacent bui...,2003-11-10,POINT (-122.31388805 47.61559829),Completed,Completed,1400 E PINE ST,SEATTLE,WA,98122.0,https://cosaccela.seattle.gov/portal/customize...,47.615598,-122.313888,"(47.61559829, -122.31388805)"
3,001004-03CP,Complaint,Request,Land Use,Trailor and camper parked in back yard. Peopl...,2003-11-10,POINT (-122.36215164 47.69226044),Completed,Completed,332 NW 87TH ST,SEATTLE,WA,98117.0,https://cosaccela.seattle.gov/portal/customize...,47.692260,-122.362152,"(47.69226044, -122.36215164)"
4,001005-03CP,Complaint,Request,Land Use,"Illegal use of property.""Hawkers"" or vendors (...",2003-11-10,POINT (-122.33832038 47.60911773),Completed,Completed,1430 2ND AVE,SEATTLE,WA,98101.0,https://cosaccela.seattle.gov/portal/customize...,47.609118,-122.338320,"(47.60911773, -122.33832038)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207383,1058748-CT,Citation,Case,Land Use,"Parking in required yard, and more than 3 vehi...",2024-07-01,POINT (-122.36670799 47.72309019),Completed,Initiated,12757 8TH AVE NW,SEATTLE,WA,98177.0,https://cosaccela.seattle.gov/portal/customize...,47.723090,-122.366708,"(47.72309019, -122.36670799)"
207384,1058749-CT,Citation,Case,Weeds,Vegetation overgrowth,2024-07-01,POINT (-122.39734183 47.675704),Completed,Initiated,3037 NW 65TH ST,SEATTLE,WA,98117.0,https://cosaccela.seattle.gov/portal/customize...,47.675704,-122.397342,"(47.675704, -122.39734183)"
207385,1058750-CT,Citation,Case,Weeds,Vegetation overgrowth,2024-07-01,POINT (-122.35095943 47.6133206),Completed,Initiated,2501 ELLIOTT AVE,SEATTLE,WA,98121.0,https://cosaccela.seattle.gov/portal/customize...,47.613321,-122.350959,"(47.6133206, -122.35095943)"
207386,1058751-VI,Notice of Violation,Case,Land Use,Landscaping business has two LED lights at a 9...,2024-07-01,POINT (-122.34316696 47.61952018),Completed,Under Investigation,701 JOHN ST,SEATTLE,WA,98109.0,https://cosaccela.seattle.gov/portal/customize...,47.619520,-122.343167,"(47.61952018, -122.34316696)"
207387,1058752-CT,Citation,Case,Weeds,Vegetation overgrowth,2024-07-01,POINT (-122.37018357 47.68159864),Completed,Initiated,7302 11TH AVE NW,SEATTLE,WA,98117.0,https://cosaccela.seattle.gov/portal/customize...,47.681599,-122.370184,"(47.68159864, -122.37018357)"

In [ ]:
seattle_zip_neighborhoods = {
    "98101": ["Downtown", "Belltown"],
    "98102": ["Eastlake", "Capitol Hill", "Portage Bay"],
    "98103": ["Wallingford", "Fremont", "Green Lake"],
    "98104": ["Pioneer Square", "International District"],
    "98105": ["University District", "Laurelhurst"],
    "98106": ["Delridge", "Riverview"],
    "98107": ["Ballard"],
    "98108": ["Georgetown", "South Park"],
    "98109": ["South Lake Union", "Queen Anne"],
    "98112": ["Madison Park", "Washington Park", "Denny-Blaine"],
    "98115": ["Wedgewood", "Roosevelt", "Ravenna"],
    "98116": ["West Seattle", "Admiral"],
    "98117": ["Ballard", "Crown Hill"],
    "98118": ["Rainier Valley", "Columbia City"],
    "98119": ["Queen Anne"],
    "98121": ["Belltown"],
    "98122": ["Central District", "Madrona"],
    "98125": ["Lake City", "Northgate"],
    "98126": ["West Seattle", "Delridge"],
    "98133": ["Bitter Lake", "Broadview"],
    "98134": ["SoDo"],
    "98136": ["West Seattle", "Fauntleroy"],
    "98144": ["Beacon Hill", "Mt. Baker"],
    "98146": ["White Center"],
    "98148": ["Burien", "Normandy Park"],
    "98154": ["Downtown"],
    "98155": ["Lake Forest Park"],
    "98164": ["Downtown"],
    "98168": ["Tukwila"],
    "98174": ["Downtown"],
    "98177": ["Broadview", "Blue Ridge"],
    "98178": ["Skyway"],
    "98188": ["Tukwila"],
    "98195": ["University of Washington"],
    "98199": ["Magnolia"]
}

In [ ]:
# merge housing seattle with crimes
# housing(Varitsara) with median earnings on GeoID

In [133]:
neighbourhood_house_seattl.head(1)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
293,250206,305,Capitol Hill,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,281024.676435,...,680785.501673,680695.414187,681282.935266,680558.472917,678865.587335,677411.674882,676636.958085,677709.308288,678376.070722,678149.357958

In [139]:
neighbourhood_house_seattl.rename(columns={'RegionName':'neighbourhood'}, inplace=True)

/var/folders/kt/c_d917yx6vs3yh3pfv_r5dyc0000gn/T/ipykernel_79406/889125219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neighbourhood_house_seattl.rename(columns={'RegionName':'neighbourhood'}, inplace=True)

In [140]:
neighbourhood_house_seattl.head(1)

,RegionID,SizeRank,neighbourhood,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
293,250206,305,Capitol Hill,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,281024.676435,...,680785.501673,680695.414187,681282.935266,680558.472917,678865.587335,677411.674882,676636.958085,677709.308288,678376.070722,678149.357958

In [141]:
neighbourhood_house_seattl['neighbourhood'] = neighbourhood_house_seattl['neighbourhood'].str.lower()

/var/folders/kt/c_d917yx6vs3yh3pfv_r5dyc0000gn/T/ipykernel_79406/3532412953.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  neighbourhood_house_seattl['neighbourhood'] = neighbourhood_house_seattl['neighbourhood'].str.lower()

In [143]:
neighbourhood_house_seattl.head(5)

,RegionID,SizeRank,neighbourhood,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
293,250206,305,capitol hill,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,281024.676435,...,6.807855e+05,6.806954e+05,6.812829e+05,6.805585e+05,6.788656e+05,6.774117e+05,6.766370e+05,6.777093e+05,6.783761e+05,6.781494e+05
386,272001,404,university district,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,283048.262412,...,9.009763e+05,8.983230e+05,8.957598e+05,8.925170e+05,8.884310e+05,8.854414e+05,8.859196e+05,8.910085e+05,8.964288e+05,8.988960e+05
712,271990,743,magnolia,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,376433.111250,...,1.226638e+06,1.232150e+06,1.235415e+06,1.235857e+06,1.235449e+06,1.233553e+06,1.235737e+06,1.244114e+06,1.256864e+06,1.266570e+06
796,250788,834,greenwood,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,219588.304198,...,7.932938e+05,7.980691e+05,8.021029e+05,8.047862e+05,8.069403e+05,8.085233e+05,8.119452e+05,8.180684e+05,8.251770e+05,8.297761e+05
831,252248,870,wallingford,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,316266.181858,...,1.069705e+06,1.074940e+06,1.078961e+06,1.081453e+06,1.083262e+06,1.084665e+06,1.089173e+06,1.097971e+06,1.109162e+06,1.117847e+06

In [154]:
len(neighbourhood_house_seattl['neighbourhood'].value_counts())

92

In [146]:
crime_types_seattl.head(1)

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,MCPP,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387

In [147]:
crime_types_seattl.rename(columns={'MCPP':'neighbourhood'}, inplace=True)

In [149]:
crime_types_seattl.head(1)

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,neighbourhood,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,MAGNOLIA,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387

In [150]:
crime_types_seattl['neighbourhood'] = crime_types_seattl['neighbourhood'].str.lower()

In [151]:
crime_types_seattl.head()

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,neighbourhood,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,magnolia,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,02/05/2020 10:06:28 AM,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,roosevelt/ravenna,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,02/05/2020 09:39:33 AM,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,roosevelt/ravenna,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,02/05/2020 03:30:55 AM,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,magnolia,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044076,12605081469,02/05/2020 12:51:21 AM,NaN,02/05/2020 12:51:31 AM,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,ballard south,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193

In [153]:
len(crime_types_seattl['neighbourhood'].value_counts())

62

In [156]:
median_earn_2021.rename(columns={'Community Reporting Area Neighborhoods':'neighbourhood'}, inplace=True) #crime_types_seattl.rename(columns={'MCPP':'neighbourhood'}, inplace=True)

In [160]:
median_earn_2021['neighbourhood']=median_earn_2021['neighbourhood'].str.lower() #crime_types_seattl['neighbourhood'] = crime_types_seattl['neighbourhood'].str.lower()

In [184]:
median_earn_2021

,OBJECTID,GEOID,Tract Name,Median Earnings of Total Full-Time Year-Round Civilian Employed Population 16 Years and Over with Earnings,Median Earnings of Total Full-Time Year-Round Civilian Employed Population 16 Years and Over with Earnings - Margin of Error,"Median Earnings of All Management, Business, Science, and Arts Occupations","Median Earnings of All Management, Business, Science, and Arts Occupations - Margin of Error","Median Earnings of All Management, Business, and Financial Occupations","Median Earnings of All Management, Business, and Financial Occupations - Margin of Error",Median Earnings of Management Occupations,...,Median Earnings of Transportation Occupations - Margin of Error,Median Earnings of Material Moving Occupations,Median Earnings of Material Moving Occupations - Margin of Error,ACS Vintage,Jurisdiction,Community Reporting Area ID,Community Reporting Area Group,Community Reporting Area Name,neighbourhood,Tract Label
0,1,53033000300,Census Tract 3,64706,9257,81140.0,4789.0,74688.0,20678.0,101477.0,...,103046.0,NaN,NaN,5Y20,Seattle,9.5,9.0,Haller Lake,"haller lake, pinehurst",3.00
1,2,53033000402,Census Tract 4.02,75003,18638,99643.0,18801.0,112422.0,145382.0,177708.0,...,2084.0,40711.0,8680.0,5Y20,Seattle,9.1,9.0,Broadview/Bitter Lake,"broadview, bitter lake",4.02
2,3,53033000500,Census Tract 5,129485,14464,132258.0,10715.0,134706.0,16827.0,129583.0,...,NaN,NaN,NaN,5Y20,Seattle,9.1,9.0,Broadview/Bitter Lake,"broadview, bitter lake",5.00
3,4,53033000700,Census Tract 7,51330,14258,77839.0,18950.0,78776.0,49329.0,82321.0,...,11726.0,NaN,NaN,5Y20,Seattle,8.2,8.0,Olympic Hills/Victory Heights,"lake city, victory heights, olympic hills, pin...",7.00
4,5,53033000800,Census Tract 8,98676,10482,102279.0,13370.0,102353.0,14907.0,108542.0,...,NaN,NaN,NaN,5Y20,Seattle,8.3,8.0,Cedar Park/Meadowbrook,"cedar park, lake city, meadowbrook, matthews b...",8.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2271,2272,53033032703,Census Tract 327.03; King County; Washington,72083,14459,102431.0,20591.0,143750.0,25704.0,148185.0,...,57748.0,42857.0,37923.0,5Y22,King County Balance,NaN,NaN,NaN,NaN,327.03
2272,2273,53033032704,Census Tract 327.04; King County; Washington,106748,6834,122885.0,24318.0,147308.0,39229.0,145568.0,...,0.0,0.0,0.0,5Y22,King County Balance,NaN,NaN,NaN,NaN,327.04
2273,2274,53033032705,Census Tract 327.05; King County; Washington,89583,28052,108975.0,21364.0,149653.0,37777.0,163071.0,...,0.0,0.0,0.0,5Y22,King County Balance,NaN,NaN,NaN,NaN,327.05
2274,2275,53033032706,Census Tract 327.06; King County; Washington,95714,18293,113409.0,3319.0,118614.0,14026.0,114420.0,...,20067.0,0.0,0.0,5Y22,King County Balance,NaN,NaN,NaN,NaN,327.06
2275,2276,53033032800,Census Tract 328; King County; Washington,85820,21593,146696.0,20737.0,164583.0,106013.0,215250.0,...,0.0,0.0,0.0,5Y22,King County Balance,NaN,NaN,NaN,NaN,328.00

In [162]:
median_earn_2021['neighbourhood']= median_earn_2021['neighbourhood'].str.split(', ')[1]

ValueError: Length of values (2) does not match length of index (2276)

In [ ]:
# census data with geoid and neighbourhoods

In [167]:
census = pd.read_csv('data/Seattle/2020_Census_Tracts_Seattle_-7486928068189135549.csv')

In [169]:
census[['GEOID20','Urban Village Demographic Area']]

         GEOID20 Urban Village Demographic Area
0    53033000402            Bitter Lake Village
1    53033000403            Bitter Lake Village
2    53033000700                      Lake City
3    53033003302                        Ballard
4    53033003601         Green Lake - Roosevelt
..           ...                            ...
172  53033008101                    Center City
173  53033010401                        Othello
174  53033011401         Westwood-Highland Park
175  53033011700                  Rainier Beach
176  53033011901            Outside - Southeast

[177 rows x 2 columns]

In [171]:
city_house_seattl

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
24,16037,24,Seattle,city,WA,WA,"Seattle-Tacoma-Bellevue, WA",King County,266359.30062,267660.19092,...,856342.080902,860094.059502,863155.435258,864633.158764,865402.365999,865759.48529,868113.919882,873617.890602,880277.178829,884827.685172

In [173]:
house_price = pd.read_csv('data/Seattle/Neighborhood_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv')

In [174]:
house_price.head(1)

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
0,112345,0,Maryvale,neighborhood,AZ,AZ,Phoenix,"Phoenix-Mesa-Chandler, AZ",Maricopa County,68480.722603,...,330279.677519,332986.291547,335454.755843,337547.179717,339149.504357,340185.954642,341173.194065,342669.851589,344519.394807,345964.317041

In [176]:
house_price_seattl = house_price[house_price['City'] == 'Seattle']

In [177]:
house_price_seattl

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
293,250206,305,Capitol Hill,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2.810247e+05,...,6.807855e+05,6.806954e+05,6.812829e+05,6.805585e+05,6.788656e+05,6.774117e+05,6.766370e+05,6.777093e+05,6.783761e+05,6.781494e+05
386,272001,404,University District,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2.830483e+05,...,9.009763e+05,8.983230e+05,8.957598e+05,8.925170e+05,8.884310e+05,8.854414e+05,8.859196e+05,8.910085e+05,8.964288e+05,8.988960e+05
712,271990,743,Magnolia,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,3.764331e+05,...,1.226638e+06,1.232150e+06,1.235415e+06,1.235857e+06,1.235449e+06,1.233553e+06,1.235737e+06,1.244114e+06,1.256864e+06,1.266570e+06
796,250788,834,Greenwood,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2.195883e+05,...,7.932938e+05,7.980691e+05,8.021029e+05,8.047862e+05,8.069403e+05,8.085233e+05,8.119452e+05,8.180684e+05,8.251770e+05,8.297761e+05
831,252248,870,Wallingford,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,3.162662e+05,...,1.069705e+06,1.074940e+06,1.078961e+06,1.081453e+06,1.083262e+06,1.084665e+06,1.089173e+06,1.097971e+06,1.109162e+06,1.117847e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12137,250149,13666,Broadmoor,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,1.292139e+06,...,3.435297e+06,3.452193e+06,3.460585e+06,3.462459e+06,3.449884e+06,3.432745e+06,3.422600e+06,3.434356e+06,3.462326e+06,3.487657e+06
12153,271804,13684,Atlantic,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,1.986661e+05,...,8.024652e+05,8.027271e+05,8.024069e+05,8.016656e+05,8.016629e+05,8.016564e+05,8.030595e+05,8.060856e+05,8.095521e+05,8.113781e+05
13311,344016,15147,Jackson Place,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,1.819988e+05,...,6.940490e+05,6.955665e+05,6.973712e+05,6.983398e+05,6.988606e+05,6.992526e+05,7.009127e+05,7.042739e+05,7.064384e+05,7.064466e+05
16320,344011,18964,Denny - Blaine,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,8.772009e+05,...,2.311162e+06,2.315797e+06,2.313797e+06,2.307081e+06,2.299918e+06,2.294659e+06,2.294321e+06,2.307955e+06,2.331983e+06,2.356277e+06
17375,271963,20296,Pioneer Square,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,3.579300e+05,...,6.447291e+05,6.441189e+05,6.430069e+05,6.409326e+05,6.389719e+05,6.374170e+05,6.359745e+05,6.354727e+05,6.348864e+05,6.331597e+05

In [178]:
house_price_seattl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 92 entries, 293 to 17375
Columns: 302 entries, RegionID to 2024-05-31
dtypes: float64(293), int64(2), object(7)
memory usage: 217.8+ KB

In [181]:
house_price_seattl1 = house_price_seattl.transpose()

In [182]:
house_price_seattl1

,293,386,712,796,831,1067,1157,1241,1242,1243,...,9820,9870,10025,10327,10587,12137,12153,13311,16320,17375
RegionID,250206,272001,271990,250788,252248,250692,271921,271869,251709,250017,...,344018,251186,272026,250714,271964,250149,271804,344016,344011,271963
SizeRank,305,404,743,834,870,1114,1207,1291,1293,1294,...,10770,10829,11018,11406,11731,13666,13684,15147,18964,20296
RegionName,Capitol Hill,University District,Magnolia,Greenwood,Wallingford,Fremont,Minor,First Hill,Ravenna,Adams,...,Waterfront,Madison Park,Windermere,Georgetown,Portage Bay,Broadmoor,Atlantic,Jackson Place,Denny - Blaine,Pioneer Square
RegionType,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,...,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood
StateName,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA,...,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-31,677411.674882,885441.357422,1233553.443506,808523.312134,1084665.193096,888116.955461,844210.027961,448994.651752,1093856.33999,772139.707703,...,710851.020323,1672092.533968,1804047.314015,673856.385298,1376556.74403,3432744.595285,801656.418435,699252.580958,2294659.250073,637416.951305
2024-02-29,676636.958085,885919.586771,1235736.676116,811945.187864,1089173.300131,891972.119223,847553.546462,448477.085294,1096044.378634,774187.331602,...,711581.083318,1671445.680348,1796512.611029,675285.809964,1381209.115056,3422599.931409,803059.547555,700912.704681,2294321.377405,635974.469948
2024-03-31,677709.308288,891008.481817,1244113.670498,818068.417183,1097970.705941,898122.411147,852865.946449,449068.184908,1102042.806721,779064.143539,...,714469.744476,1679835.792782,1796335.510678,678318.245138,1389449.551454,3434355.50095,806085.570171,704273.861141,2307954.550867,635472.663148
2024-04-30,678376.070722,896428.753764,1256864.083398,825177.026792,1109162.130131,904728.009974,856948.379767,449200.441689,1111449.222567,783712.485152,...,716057.160546,1694997.983877,1807160.243705,680527.386215,1398810.676007,3462326.340826,809552.132426,706438.406295,2331983.158978,634886.372632
2024-05-31,678149.357958,898896.016071,1266570.250014,829776.120463,1117846.706925,908370.50603,858400.907743,448814.363747,1119245.156018,786080.639494,...,715672.964155,1710319.109757,1822071.151064,680776.132551,1406482.042876,3487657.11899,811378.076613,706446.568787,2356276.541539,633159.732792

In [183]:
house_price_seattl

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31
293,250206,305,Capitol Hill,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2.810247e+05,...,6.807855e+05,6.806954e+05,6.812829e+05,6.805585e+05,6.788656e+05,6.774117e+05,6.766370e+05,6.777093e+05,6.783761e+05,6.781494e+05
386,272001,404,University District,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2.830483e+05,...,9.009763e+05,8.983230e+05,8.957598e+05,8.925170e+05,8.884310e+05,8.854414e+05,8.859196e+05,8.910085e+05,8.964288e+05,8.988960e+05
712,271990,743,Magnolia,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,3.764331e+05,...,1.226638e+06,1.232150e+06,1.235415e+06,1.235857e+06,1.235449e+06,1.233553e+06,1.235737e+06,1.244114e+06,1.256864e+06,1.266570e+06
796,250788,834,Greenwood,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,2.195883e+05,...,7.932938e+05,7.980691e+05,8.021029e+05,8.047862e+05,8.069403e+05,8.085233e+05,8.119452e+05,8.180684e+05,8.251770e+05,8.297761e+05
831,252248,870,Wallingford,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,3.162662e+05,...,1.069705e+06,1.074940e+06,1.078961e+06,1.081453e+06,1.083262e+06,1.084665e+06,1.089173e+06,1.097971e+06,1.109162e+06,1.117847e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12137,250149,13666,Broadmoor,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,1.292139e+06,...,3.435297e+06,3.452193e+06,3.460585e+06,3.462459e+06,3.449884e+06,3.432745e+06,3.422600e+06,3.434356e+06,3.462326e+06,3.487657e+06
12153,271804,13684,Atlantic,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,1.986661e+05,...,8.024652e+05,8.027271e+05,8.024069e+05,8.016656e+05,8.016629e+05,8.016564e+05,8.030595e+05,8.060856e+05,8.095521e+05,8.113781e+05
13311,344016,15147,Jackson Place,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,1.819988e+05,...,6.940490e+05,6.955665e+05,6.973712e+05,6.983398e+05,6.988606e+05,6.992526e+05,7.009127e+05,7.042739e+05,7.064384e+05,7.064466e+05
16320,344011,18964,Denny - Blaine,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,8.772009e+05,...,2.311162e+06,2.315797e+06,2.313797e+06,2.307081e+06,2.299918e+06,2.294659e+06,2.294321e+06,2.307955e+06,2.331983e+06,2.356277e+06
17375,271963,20296,Pioneer Square,neighborhood,WA,WA,Seattle,"Seattle-Tacoma-Bellevue, WA",King County,3.579300e+05,...,6.447291e+05,6.441189e+05,6.430069e+05,6.409326e+05,6.389719e+05,6.374170e+05,6.359745e+05,6.354727e+05,6.348864e+05,6.331597e+05

In [185]:
house_price_seattl1.head(1)

,293,386,712,796,831,1067,1157,1241,1242,1243,...,9820,9870,10025,10327,10587,12137,12153,13311,16320,17375
RegionID,250206,272001,271990,250788,252248,250692,271921,271869,251709,250017,...,344018,251186,272026,250714,271964,250149,271804,344016,344011,271963

In [192]:
#header = df[df['old_header_name1'] == 'new_header_name1']
#df.columns = header

# header = house_price_seattl['RegionName']
# house_price_seattl.columns = header

house_price_seattl_tr =  house_price_seattl.set_index('RegionName').transpose()

In [193]:
house_price_seattl_tr

RegionName,Capitol Hill,University District,Magnolia,Greenwood,Wallingford,Fremont,Minor,First Hill,Ravenna,Adams,...,Waterfront,Madison Park,Windermere,Georgetown,Portage Bay,Broadmoor,Atlantic,Jackson Place,Denny - Blaine,Pioneer Square
RegionID,250206,272001,271990,250788,252248,250692,271921,271869,251709,250017,...,344018,251186,272026,250714,271964,250149,271804,344016,344011,271963
SizeRank,305,404,743,834,870,1114,1207,1291,1293,1294,...,10770,10829,11018,11406,11731,13666,13684,15147,18964,20296
RegionType,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,...,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood,neighborhood
StateName,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA,...,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA
State,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA,...,WA,WA,WA,WA,WA,WA,WA,WA,WA,WA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-31,677411.674882,885441.357422,1233553.443506,808523.312134,1084665.193096,888116.955461,844210.027961,448994.651752,1093856.33999,772139.707703,...,710851.020323,1672092.533968,1804047.314015,673856.385298,1376556.74403,3432744.595285,801656.418435,699252.580958,2294659.250073,637416.951305
2024-02-29,676636.958085,885919.586771,1235736.676116,811945.187864,1089173.300131,891972.119223,847553.546462,448477.085294,1096044.378634,774187.331602,...,711581.083318,1671445.680348,1796512.611029,675285.809964,1381209.115056,3422599.931409,803059.547555,700912.704681,2294321.377405,635974.469948
2024-03-31,677709.308288,891008.481817,1244113.670498,818068.417183,1097970.705941,898122.411147,852865.946449,449068.184908,1102042.806721,779064.143539,...,714469.744476,1679835.792782,1796335.510678,678318.245138,1389449.551454,3434355.50095,806085.570171,704273.861141,2307954.550867,635472.663148
2024-04-30,678376.070722,896428.753764,1256864.083398,825177.026792,1109162.130131,904728.009974,856948.379767,449200.441689,1111449.222567,783712.485152,...,716057.160546,1694997.983877,1807160.243705,680527.386215,1398810.676007,3462326.340826,809552.132426,706438.406295,2331983.158978,634886.372632
2024-05-31,678149.357958,898896.016071,1266570.250014,829776.120463,1117846.706925,908370.50603,858400.907743,448814.363747,1119245.156018,786080.639494,...,715672.964155,1710319.109757,1822071.151064,680776.132551,1406482.042876,3487657.11899,811378.076613,706446.568787,2356276.541539,633159.732792

In [201]:
house_price_seattl_tr_drop = house_price_seattl_tr.drop(['RegionID', 'SizeRank', 'RegionType', 'StateName','State','City','Metro','CountyName'])

In [202]:
house_price_seattl_tr_drop  #reset index and rename

#slice the data frame, wrtie a for loop  (use .melt?)

RegionName,Capitol Hill,University District,Magnolia,Greenwood,Wallingford,Fremont,Minor,First Hill,Ravenna,Adams,...,Waterfront,Madison Park,Windermere,Georgetown,Portage Bay,Broadmoor,Atlantic,Jackson Place,Denny - Blaine,Pioneer Square
2000-01-31,281024.676435,283048.262412,376433.11125,219588.304198,316266.181858,262317.006278,238988.464119,202845.708351,324161.08552,225165.94806,...,NaN,579758.128846,568857.75599,180631.419555,462931.692071,1292139.31235,198666.060499,181998.787638,877200.861998,357930.046974
2000-02-29,282494.546819,284725.612733,378666.789158,220547.472045,318546.428733,264294.200525,240790.220585,204091.836689,325669.64109,225866.282248,...,NaN,583608.394932,572806.571431,182225.484454,466781.469808,1306501.220991,199812.160405,183886.035975,882068.545643,360551.550858
2000-03-31,284117.452564,286260.603683,380567.950384,221571.162257,320829.036429,266199.411695,242902.757857,205544.427521,326965.356596,226577.651581,...,NaN,587325.719332,576039.824671,183479.711841,470102.839132,1319568.744581,201897.943902,185875.962908,886697.157354,363139.594762
2000-04-30,287428.374093,289204.519627,384439.761217,223970.797855,324724.560336,269683.16265,246369.724291,208757.859034,329700.245624,228244.019844,...,NaN,593588.693366,581857.813805,186034.408152,476266.02338,1344369.437863,205490.879703,188937.621754,893093.232752,368091.242834
2000-05-31,291575.897613,292260.186132,388826.532153,226734.688851,328811.270923,272929.726959,249693.622281,212168.409434,332282.921637,230759.984811,...,NaN,600084.573399,587368.134446,188174.066708,483097.962886,1367615.777199,209510.674885,191890.227315,900710.700641,372420.601261
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-31,677411.674882,885441.357422,1233553.443506,808523.312134,1084665.193096,888116.955461,844210.027961,448994.651752,1093856.33999,772139.707703,...,710851.020323,1672092.533968,1804047.314015,673856.385298,1376556.74403,3432744.595285,801656.418435,699252.580958,2294659.250073,637416.951305
2024-02-29,676636.958085,885919.586771,1235736.676116,811945.187864,1089173.300131,891972.119223,847553.546462,448477.085294,1096044.378634,774187.331602,...,711581.083318,1671445.680348,1796512.611029,675285.809964,1381209.115056,3422599.931409,803059.547555,700912.704681,2294321.377405,635974.469948
2024-03-31,677709.308288,891008.481817,1244113.670498,818068.417183,1097970.705941,898122.411147,852865.946449,449068.184908,1102042.806721,779064.143539,...,714469.744476,1679835.792782,1796335.510678,678318.245138,1389449.551454,3434355.50095,806085.570171,704273.861141,2307954.550867,635472.663148
2024-04-30,678376.070722,896428.753764,1256864.083398,825177.026792,1109162.130131,904728.009974,856948.379767,449200.441689,1111449.222567,783712.485152,...,716057.160546,1694997.983877,1807160.243705,680527.386215,1398810.676007,3462326.340826,809552.132426,706438.406295,2331983.158978,634886.372632
2024-05-31,678149.357958,898896.016071,1266570.250014,829776.120463,1117846.706925,908370.50603,858400.907743,448814.363747,1119245.156018,786080.639494,...,715672.964155,1710319.109757,1822071.151064,680776.132551,1406482.042876,3487657.11899,811378.076613,706446.568787,2356276.541539,633159.732792

In [220]:
house_price_seattl_tr_drop.reset_index(inplace=True)

In [222]:
house_price_seattl_tr_drop.head(1)

RegionName,index,Capitol Hill,University District,Magnolia,Greenwood,Wallingford,Fremont,Minor,First Hill,Ravenna,...,Waterfront,Madison Park,Windermere,Georgetown,Portage Bay,Broadmoor,Atlantic,Jackson Place,Denny - Blaine,Pioneer Square
0,2000-01-31,281024.676435,283048.262412,376433.11125,219588.304198,316266.181858,262317.006278,238988.464119,202845.708351,324161.08552,...,NaN,579758.128846,568857.75599,180631.419555,462931.692071,1292139.31235,198666.060499,181998.787638,877200.861998,357930.046974

In [225]:
print(house_price_seattl_tr_drop.columns.to_list())

['index', 'Capitol Hill', 'University District', 'Magnolia', 'Greenwood', 'Wallingford', 'Fremont', 'Minor', 'First Hill', 'Ravenna', 'Adams', 'North Beacon Hill', 'Belltown', 'Maple Leaf', 'Admiral', 'Beacon Hill', 'Lower Queen Anne', 'North Queen Anne', 'Phinney Ridge', 'Green Lake', 'Columbia City', 'Loyal Heights', 'Bitter Lake', 'South Lake Union', 'Denny Triangle', 'Olympic Hills', 'Haller Lake', 'Brighton', 'High Point', 'Broadview', 'West Woodland', 'Downtown', 'Genesee', 'East Queen Anne', 'Wedgwood', 'West Queen Anne', 'North College Park', 'Gatewood', 'Rainier Beach', 'Pinehurst', 'Fairmount Park', 'South Delridge', 'Highland Park', 'Mt. Baker', 'Matthews Beach', 'Whittier Heights', 'Cedar Park', 'Victory Heights', 'Roosevelt', 'Seaview', 'Roxhill', 'North Beach', 'South Beacon Hill', 'Dunlap', 'Crown Hill', 'Bryant', 'Westlake', 'Arbor Heights', 'Alki', 'Madison Valley', 'Sunset Hill', 'Mann', 'Fauntleroy', 'Madrona', 'Meadowbrook', 'International District', 'View Ridge', 'Northgate', 'Holly Park', 'Hillman City', 'Judkins Park', 'Leschi', 'North Delridge', 'South Park', 'Montlake', 'Interbay', 'Riverview', 'Rainier View', 'Laurelhurst', 'Eastlake', 'Lakewood', 'Seward Park', 'Hawthorne Hills', 'Waterfront', 'Madison Park', 'Windermere', 'Georgetown', 'Portage Bay', 'Broadmoor', 'Atlantic', 'Jackson Place', 'Denny - Blaine', 'Pioneer Square']

In [230]:
house_price_seattl_tr_drop_melt = pd.melt(house_price_seattl_tr_drop,                                        # dataset
                        id_vars=['index'],      # Column(s) to use as identifier variables
                        value_vars=['Capitol Hill', 'University District', 'Magnolia', 'Greenwood', 'Wallingford', 'Fremont', 'Minor', 'First Hill', 'Ravenna', 'Adams', 'North Beacon Hill', 'Belltown', 'Maple Leaf', 'Admiral', 'Beacon Hill', 'Lower Queen Anne', 'North Queen Anne', 'Phinney Ridge', 'Green Lake', 'Columbia City', 'Loyal Heights', 'Bitter Lake', 'South Lake Union', 'Denny Triangle', 'Olympic Hills', 'Haller Lake', 'Brighton', 'High Point', 'Broadview', 'West Woodland', 'Downtown', 'Genesee', 'East Queen Anne', 'Wedgwood', 'West Queen Anne', 'North College Park', 'Gatewood', 'Rainier Beach', 'Pinehurst', 'Fairmount Park', 'South Delridge', 'Highland Park', 'Mt. Baker', 'Matthews Beach', 'Whittier Heights', 'Cedar Park', 'Victory Heights', 'Roosevelt', 'Seaview', 'Roxhill', 'North Beach', 'South Beacon Hill', 'Dunlap', 'Crown Hill', 'Bryant', 'Westlake', 'Arbor Heights', 'Alki', 'Madison Valley', 'Sunset Hill', 'Mann', 'Fauntleroy', 'Madrona', 'Meadowbrook', 'International District', 'View Ridge', 'Northgate', 'Holly Park', 'Hillman City', 'Judkins Park', 'Leschi', 'North Delridge', 'South Park', 'Montlake', 'Interbay', 'Riverview', 'Rainier View', 'Laurelhurst', 'Eastlake', 'Lakewood', 'Seward Park', 'Hawthorne Hills', 'Waterfront', 'Madison Park', 'Windermere', 'Georgetown', 'Portage Bay', 'Broadmoor', 'Atlantic', 'Jackson Place', 'Denny - Blaine', 'Pioneer Square'],  # Column(s) to unpivot
                        var_name='neighbourhood',                     # Name to use for the ‘variable’ column
                        value_name='price')                              # Name to use for the ‘value’ column

In [ ]:
# Melt the DataFrame
#df_melted = df.melt(id_vars=[‘date’], var_name=‘regionname’, value_name=‘pricing’)
# Display the resulting DataFrame
#print(df_melted.head())

In [231]:
house_price_seattl_tr_drop_melt

            index   neighbourhood          price
0      2000-01-31    Capitol Hill  281024.676435
1      2000-02-29    Capitol Hill  282494.546819
2      2000-03-31    Capitol Hill  284117.452564
3      2000-04-30    Capitol Hill  287428.374093
4      2000-05-31    Capitol Hill  291575.897613
...           ...             ...            ...
26951  2024-01-31  Pioneer Square  637416.951305
26952  2024-02-29  Pioneer Square  635974.469948
26953  2024-03-31  Pioneer Square  635472.663148
26954  2024-04-30  Pioneer Square  634886.372632
26955  2024-05-31  Pioneer Square  633159.732792

[26956 rows x 3 columns]

In [234]:
house_price_seattl_tr_drop_melt['neighbourhood']=house_price_seattl_tr_drop_melt['neighbourhood'].str.lower().str.strip()

In [240]:
house_price_seattl_tr_drop_melt.rename(columns={'index':'date'}, inplace=True)

In [262]:
house_price_seattl_tr_drop_melt['date'] = pd.to_datetime(house_price_seattl_tr_drop_melt['date'])

In [263]:
house_price_seattl_tr_drop_melt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26956 entries, 0 to 26955
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           26956 non-null  datetime64[ns]
 1   neighbourhood  26956 non-null  object
 2   price          26535 non-null  object
dtypes: datetime64[ns](1), object(2)
memory usage: 631.9+ KB

In [264]:
house_price_seattl_tr_drop_melt

            date   neighbourhood          price
0     2000-01-31    capitol hill  281024.676435
1     2000-02-29    capitol hill  282494.546819
2     2000-03-31    capitol hill  284117.452564
3     2000-04-30    capitol hill  287428.374093
4     2000-05-31    capitol hill  291575.897613
...          ...             ...            ...
26951 2024-01-31  pioneer square  637416.951305
26952 2024-02-29  pioneer square  635974.469948
26953 2024-03-31  pioneer square  635472.663148
26954 2024-04-30  pioneer square  634886.372632
26955 2024-05-31  pioneer square  633159.732792

[26956 rows x 3 columns]

In [306]:
print(house_price_seattl_tr_drop_melt.neighbourhood.unique())
#print(sorted(house_price_seattl_tr_drop_melt.neighbourhood.unique()))
#print(house_price_seattl_tr_drop_melt.neighbourhood.value_counts())
#len(house_price_seattl_tr_drop_melt.neighbourhood.unique())  92 unique values

['capitol hill' 'university district' 'magnolia' 'greenwood' 'wallingford'
 'fremont' 'minor' 'first hill' 'ravenna' 'adams' 'north beacon hill'
 'belltown' 'maple leaf' 'admiral' 'beacon hill' 'lower queen anne'
 'north queen anne' 'phinney ridge' 'green lake' 'columbia city'
 'loyal heights' 'bitter lake' 'south lake union' 'denny triangle'
 'olympic hills' 'haller lake' 'brighton' 'high point' 'broadview'
 'west woodland' 'downtown' 'genesee' 'east queen anne' 'wedgwood'
 'west queen anne' 'north college park' 'gatewood' 'rainier beach'
 'pinehurst' 'fairmount park' 'south delridge' 'highland park' 'mt. baker'
 'matthews beach' 'whittier heights' 'cedar park' 'victory heights'
 'roosevelt' 'seaview' 'roxhill' 'north beach' 'south beacon hill'
 'dunlap' 'crown hill' 'bryant' 'westlake' 'arbor heights' 'alki'
 'madison valley' 'sunset hill' 'mann' 'fauntleroy' 'madrona'
 'meadowbrook' 'international district' 'view ridge' 'northgate'
 'holly park' 'hillman city' 'judkins park' 'leschi' 'north delridge'
 'south park' 'montlake' 'interbay' 'riverview' 'rainier view'
 'laurelhurst' 'eastlake' 'lakewood' 'seward park' 'hawthorne hills'
 'waterfront' 'madison park' 'windermere' 'georgetown' 'portage bay'
 'broadmoor' 'atlantic' 'jackson place' 'denny - blaine' 'pioneer square']

In [276]:
crime_types_seattl.head(2)

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,neighbourhood,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,magnolia,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,02/05/2020 10:06:28 AM,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,roosevelt/ravenna,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118

In [277]:
crime_types_seattl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128972 entries, 0 to 1128971
Data columns (total 17 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   Report Number           1128972 non-null  object
 1   Offense ID              1128972 non-null  int64
 2   Offense Start DateTime  1127162 non-null  object
 3   Offense End DateTime    647977 non-null   object
 4   Report DateTime         1128972 non-null  object
 5   Group A B               1128972 non-null  object
 6   Crime Against Category  1128972 non-null  object
 7   Offense Parent Group    1128972 non-null  object
 8   Offense                 1128972 non-null  object
 9   Offense Code            1128972 non-null  object
 10  Precinct                1128965 non-null  object
 11  Sector                  1128965 non-null  object
 12  Beat                    1128965 non-null  object
 13  neighbourhood           1128945 non-null  object
 14  100 Block Address       1078689 non-null  object
 15  Longitude               1128972 non-null  float64
 16  Latitude                1128972 non-null  float64
dtypes: float64(2), int64(1), object(14)
memory usage: 146.4+ MB

In [272]:
print(crime_types_seattl.neighbourhood.unique())
#print(crime_types_seattl.neighbourhood.value_counts())
#len(crime_types_seattl.neighbourhood.unique())  #63 unique values

['magnolia' 'roosevelt/ravenna' 'ballard south' 'downtown commercial'
 'phinney ridge' 'roxhill/westwood/arbor heights' 'northgate'
 'capitol hill' 'university' 'columbia city' 'north beacon hill'
 'first hill' 'georgetown' 'queen anne' 'sodo' 'central area/squire park'
 'mid beacon hill' 'alaska junction' 'fremont' 'north admiral'
 'slu/cascade' 'chinatown/international district' 'sandpoint'
 'hillman city' 'high point' 'mount baker' 'highland park' 'bitterlake'
 'belltown' 'pioneer square' 'judkins park/north beacon hill'
 'madrona/leschi' 'madison park' 'north delridge'
 'claremont/rainier vista' 'rainier view' 'montlake/portage bay'
 'lakewood/seward park' 'south delridge' 'wallingford' 'south beacon hill'
 'new holly' 'greenwood' 'ballard north' 'pigeon point' 'morgan'
 'brighton/dunlap' 'miller park' 'eastlake - west' 'rainier beach'
 'south park' 'alki' 'fauntleroy sw' 'genesee' 'commercial harbor island'
 'eastlake - east' 'commercial duwamish' 'unknown' 'lakecity' '<null>' nan
 'case/cascad' 'chinatown/internaitonal district']

In [294]:
#len(crime_types_seattl.neighbourhood)  #All rows are 1128972
#crime_types_seattl.neighbourhood.count()   #not null values rows are 1128945
crime_types_seattl.neighbourhood.isnull().value_counts() #null values are 27

neighbourhood
False    1128945
True          27
Name: count, dtype: int64

In [299]:
#df2.col.isin(df1.col)
house_price_seattl_tr_drop_melt.neighbourhood.isin(crime_types_seattl.neighbourhood).value_counts()

neighbourhood
False    19631
True      7325
Name: count, dtype: int64

In [301]:
crime_types_seattl.neighbourhood.isin(house_price_seattl_tr_drop_melt.neighbourhood).value_counts()

neighbourhood
False    685779
True     443193
Name: count, dtype: int64

# Second housing data set

In [207]:
housing_data_2 = pd.read_csv('data/Seattle/DP04_5YALL_3840298254942809598(Varitsara).csv')

In [208]:
housing_data_2

,OBJECTID,GEOID,Total Housing Units,Occupied Housing Units,Vacant Housing Units,Homeowner Vacancy Rate,Rental Vacancy Rate,1-unit detached,1-unit attached,2 units,...,Jurisdiction,Community Reporting Area ID,Community Reporting Area Group,Community Reporting Area Name,Community Reporting Area Neighborhoods,Tract Label,"Gross Rent $1,000 to $1,499",Moved in 2021 or later,Moved in 2018 to 2020,Moved in 2010 to 2017
0,989,53033024100,1885,1731,154,0.0,2.2,1871,9,0,...,King County Balance,NaN,NaN,NaN,NaN,241.00,13,NaN,NaN,NaN
1,990,53033024200,1113,1054,59,3.1,0.0,1104,0,5,...,King County Balance,NaN,NaN,NaN,NaN,242.00,17,NaN,NaN,NaN
2,991,53033024500,1821,1716,105,0.0,0.0,1786,16,0,...,King County Balance,NaN,NaN,NaN,NaN,245.00,37,NaN,NaN,NaN
3,992,53033024601,1751,1635,116,0.0,19.6,1740,0,0,...,King County Balance,NaN,NaN,NaN,NaN,246.01,0,NaN,NaN,NaN
4,993,53033024602,1240,1231,9,0.0,0.0,1210,30,0,...,King County Balance,NaN,NaN,NaN,NaN,246.02,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2271,5537,53033032703,874,779,95,6.7,0.0,670,12,6,...,King County Balance,NaN,NaN,NaN,NaN,327.03,70,47.0,197.0,305.0
2272,5538,53033032704,2922,2869,53,0.0,0.0,2202,49,30,...,King County Balance,NaN,NaN,NaN,NaN,327.04,158,241.0,501.0,937.0
2273,5539,53033032705,1339,1339,0,0.0,0.0,1137,50,0,...,King County Balance,NaN,NaN,NaN,NaN,327.05,0,90.0,329.0,468.0
2274,5540,53033032706,1323,983,340,0.0,0.0,1111,7,0,...,King County Balance,NaN,NaN,NaN,NaN,327.06,0,39.0,156.0,286.0
2275,5541,53033032800,1585,1081,504,0.6,0.0,1397,26,18,...,King County Balance,NaN,NaN,NaN,NaN,328.00,39,3.0,231.0,255.0

In [242]:
print(housing_data_2.columns.to_list())

['OBJECTID', 'GEOID', 'Total Housing Units', 'Occupied Housing Units', 'Vacant Housing Units', 'Homeowner Vacancy Rate', 'Rental Vacancy Rate', '1-unit detached', '1-unit attached', '2 units', '3 or 4 units', '5 to 9 units', '10 to 19 units', '20 to 49 units', '50 or more units', 'Mobile home', 'Boat RV van etc', 'Built 2020 or later', 'Built 2010 to 2019', 'Built 2000 to 2009', 'Built 1990 to 1999', 'Built 1980 to 1989', 'Built 1970 to 1979', 'Built 1960 to 1969', 'Built 1950 to 1959', 'Built 1940 to 1949', 'Built 1939 or earlier', '1 room', '2 rooms', '3 rooms', '4 rooms', '5 rooms', '6 rooms', '7 rooms', '8 rooms', '9 or more rooms', 'Median number of rooms', 'No bedroom', '1 bedroom', '2 bedrooms', '3 bedrooms', '4 bedrooms', '5 or more bedrooms', 'Owner-occupied housing units', 'Renter-occupied housing units', 'Average household size of owner-occupied unit', 'Average household size of renter-occupied unit', 'Moved in 2019 or later', 'Moved in 2015 to 2018', 'Moved in 2010 to 2014', 'Moved in 2000 to 2009', 'Moved in 1990 to 1999', 'Moved in 1989 or earlier', 'No Vehicles Available', '1 Vehicle Available', '2 Vehicles Available', '3 or more Vehicles Available', 'Utility gas', 'Bottled tank or LP gas', 'Electricity', 'Fuel oil kerosene etc', 'Coal or coke', 'Wood', 'Solar energy', 'Other fuel', 'No fuel used', 'Lacking compete plumbing facilities', 'Lacking compete kitchen facilities', 'No telephone service available', 'Occupants per Room 1.0 or less', 'Occupants per Room 1.0 to 1.5', 'Occupants per Room 1.5 or more', 'Housing Unit Value Less than $50,000', 'Housing Unit Value $50,000 to $99,999', 'Housing Unit Value $100,000 to $149,999', 'Housing Unit Value $150,000 to $199,999', 'Housing Unit Value $200,000 to $299,999', 'Housing Unit Value $300,000 to $499,999', 'Housing Unit Value $500,000 to $999,999', 'Housing Unit Value $1,000,000 or more', 'Median owner-occupied housing unit value (dollars)', 'Housing units with a mortgage', 'Housing units without a mortgage', 'With mortgage costs Less than $500', 'With mortgage costs $500 to $999', 'With mortgage costs $1,000 to $1,499', 'With mortgage costs $1,500 to $1,999', 'With mortgage costs $2,000 to $2,499', 'With mortgage costs $2,500 to $2,999', 'With mortgage costs $3,000 or more', 'Median selected monthly owner with a mortgage costs (dollars)', 'No mortgage costs Less than $250', 'No mortgage costs $250 to $399', 'No mortgage costs $400 to $599', 'No mortgage costs $600 to $799', 'No mortgage costs $800 to $999', 'No mortgage costs $1,000 or more', 'Median selected monthly owner with no mortgage costs (dollars)', 'Housing units with a mortgage where selected monthly onwer costs a s a percentage of household income can be computed', 'With mortgage Percentage of Household Income Less than 20.0 percent', 'With mortgage Percentage of Household Income 20.0 to 24.9 percent', 'With mortgage Percentage of Household Income 25.0 to 29.9 percent', 'With mortgage Percentage of Household Income 30.0 to 34.9 percent', 'With mortgage Percentage of Household Income 35.0 percent or more', 'Housing units with a mortgage where selected monthly onwer costs a s a percentage of household income not computed', 'Housing units without a mortgage where selected monthly onwer costs a s a percentage of household income can be computed', 'Without mortgage Percentage of Household Income Less than 10.0 percent', 'Without mortgage Percentage of Household Income 10.0 to 14.9 percent', 'Without mortgage Percentage of Household Income 15.0 to 19.9 percent', 'Without mortgage Percentage of Household Income 20.0 to 24.9 percent', 'Without mortgage Percentage of Household Income 25.0 to 29.9 percent', 'Without mortgage Percentage of Household Income 30.0 to 34.9 percent', 'Without mortgage Percentage of Household Income 35.0 percent or more', 'Housing units without a mortgage where selected monthly onwer costs a s a percentage of household income not computed', 'Occupied units paying rent', 'Gross Rent Less than $500', 'Gross Rent $500 to $999', 'Gross Rent $1,500 to $1,999', 'Gross Rent $2,000 to $2,499', 'Gross Rent $2,500 to $2,999', 'Gross Rent $3,000 or more', 'Median gross rent (dollars)', 'No cash rent paid', 'Occupied units paying rent where gross rent as a percentage of household income can be computed', 'Gross Rent as a Percentage of Household Income Less than 15.0 percent', 'Gross Rent as a Percentage of Household Income 15.0 to 19.9 percent', 'Gross Rent as a Percentage of Household Income 20.0 to 24.9 percent', 'Gross Rent as a Percentage of Household Income 25.0 to 29.9 percent', 'Gross Rent as a Percentage of Household Income 30.0 to 34.9 percent', 'Gross Rent as a Percentage of Household Income 35.0 percent or more', 'Occupied units paying rent where gross rent as a percentage of household income not computed', 'ACS Vintage', 'Jurisdiction', 'Community Reporting Area ID', 'Community Reporting Area Group', 'Community Reporting Area Name', 'Community Reporting Area Neighborhoods', 'Tract Label', 'Gross Rent $1,000 to $1,499', 'Moved in 2021 or later', 'Moved in 2018 to 2020', 'Moved in 2010 to 2017']

# Crime types

In [307]:
crime_types_seattl

,Report Number,Offense ID,Offense Start DateTime,Offense End DateTime,Report DateTime,Group A B,Crime Against Category,Offense Parent Group,Offense,Offense Code,Precinct,Sector,Beat,neighbourhood,100 Block Address,Longitude,Latitude
0,2020-044620,12605873663,02/05/2020 10:10:00 AM,NaN,02/05/2020 11:24:31 AM,A,SOCIETY,DRUG/NARCOTIC OFFENSES,Drug/Narcotic Violations,35A,W,Q,Q1,magnolia,32XX BLOCK OF 23RD AVE W,-122.385974,47.649387
1,2020-044452,12605598696,02/03/2020 08:00:00 AM,02/04/2020 08:00:00 AM,02/05/2020 10:06:28 AM,A,PROPERTY,LARCENY-THEFT,Theft of Motor Vehicle Parts or Accessories,23G,N,J,J3,roosevelt/ravenna,63XX BLOCK OF 5TH AVE NE,-122.323399,47.675118
2,2020-044465,12605567653,02/02/2020 08:30:00 PM,02/02/2020 09:30:00 PM,02/05/2020 09:39:33 AM,A,PROPERTY,ROBBERY,Robbery,120,N,U,U3,roosevelt/ravenna,26TH AVE NE / NE BLAKELEY ST,-122.299552,47.666384
3,2020-044225,12605174036,02/05/2020 01:17:00 AM,02/05/2020 02:21:00 AM,02/05/2020 03:30:55 AM,A,PROPERTY,DESTRUCTION/DAMAGE/VANDALISM OF PROPERTY,Destruction/Damage/Vandalism of Property,290,W,Q,Q1,magnolia,22XX BLOCK OF W RAYE ST,-122.384865,47.642927
4,2020-044076,12605081469,02/05/2020 12:51:21 AM,NaN,02/05/2020 12:51:31 AM,B,SOCIETY,DRIVING UNDER THE INFLUENCE,Driving Under the Influence,90D,N,B,B2,ballard south,NW 46TH ST / 8TH AVE NW,-122.366195,47.662193
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1128967,2013-247888,7687554356,07/13/2013 01:00:00 AM,NaN,07/13/2013 06:37:00 AM,A,PROPERTY,MOTOR VEHICLE THEFT,Motor Vehicle Theft,240,SW,F,F1,pigeon point,41XX BLOCK OF 20TH AVE SW,-122.359028,47.565702
1128968,2013-227022,7682354808,06/26/2013 11:00:00 AM,06/29/2013 06:30:00 AM,06/29/2013 09:43:00 AM,A,PROPERTY,MOTOR VEHICLE THEFT,Motor Vehicle Theft,240,W,Q,Q3,queen anne,1ST AVE N / VALLEY ST,-122.355386,47.626251
1128969,2012-045494,7672915592,02/14/2012 03:04:00 PM,NaN,02/14/2012 03:04:00 PM,A,PROPERTY,LARCENY-THEFT,Shoplifting,23C,N,U,U1,roosevelt/ravenna,73XX BLOCK OF ROOSEVELT WAY NE,-122.317464,47.681894
1128970,2010-328592,7692227482,09/19/2010 04:59:00 PM,NaN,09/19/2010 04:59:00 PM,A,PROPERTY,LARCENY-THEFT,Shoplifting,23C,W,M,M3,downtown commercial,5XX BLOCK OF PIKE ST,-122.335018,47.610909
1128971,2010-064656,7686420892,02/25/2010 06:00:00 PM,02/26/2010 07:30:00 AM,02/26/2010 07:54:00 AM,A,PROPERTY,MOTOR VEHICLE THEFT,Motor Vehicle Theft,240,W,Q,Q2,queen anne,26XX BLOCK OF 1ST AVE N,-122.355546,47.643681

In [308]:
print(crime_types_seattl.Offense.unique())

['Drug/Narcotic Violations' 'Theft of Motor Vehicle Parts or Accessories'
 'Robbery' 'Destruction/Damage/Vandalism of Property'
 'Driving Under the Influence' 'Shoplifting' 'Theft From Motor Vehicle'
 'Wire Fraud' 'Theft From Building' 'Kidnapping/Abduction'
 'Counterfeiting/Forgery' 'All Other Larceny'
 'Pornography/Obscene Material' 'Extortion/Blackmail'
 'Motor Vehicle Theft' 'Sodomy' 'Stolen Property Offenses'
 'False Pretenses/Swindle/Confidence Game'
 'Credit Card/Automated Teller Machine Fraud' 'Embezzlement'
 'Identity Theft' 'Impersonation' 'Weapon Law Violations' 'Fondling'
 'Hacking/Computer Invasion' 'Drug Equipment Violations' 'Arson'
 'Human Trafficking, Commercial Sex Acts' 'Liquor Law Violations'
 'Bad Checks' 'Pocket-picking' 'Rape' 'Sexual Assault With An Object'
 'Purchasing Prostitution' 'Purse-snatching' 'Family Offenses, Nonviolent'
 'Theft From Coin-Operated Machine or Device'
 'Curfew/Loitering/Vagrancy Violations' 'Animal Cruelty'
 'Murder & Nonnegligent Manslaughter' 'Prostitution' 'Welfare Fraud'
 'Peeping Tom' 'Assisting or Promoting Prostitution' 'Drunkenness'
 'Justifiable Homicide' 'Incest' 'Statutory Rape' 'Bribery'
 'Operating/Promoting/Assisting Gambling' 'Betting/Wagering'
 'Negligent Manslaughter' 'Gambling Equipment Violation'
 'Trespass of Real Property' 'Simple Assault' 'Aggravated Assault'
 'Intimidation' 'Burglary/Breaking & Entering'
 'Human Trafficking, Involuntary Servitude']

In [309]:
print(crime_types_seattl.Offense.value_counts())

Offense
Theft From Motor Vehicle                       177744
Burglary/Breaking & Entering                   128128
Destruction/Damage/Vandalism of Property       105623
All Other Larceny                               95069
Simple Assault                                  85505
Motor Vehicle Theft                             77701
Shoplifting                                     68562
Theft of Motor Vehicle Parts or Accessories     40121
Aggravated Assault                              39248
Intimidation                                    38596
Trespass of Real Property                       34407
Theft From Building                             31246
Robbery                                         26332
Drug/Narcotic Violations                        24711
Credit Card/Automated Teller Machine Fraud      20386
Driving Under the Influence                     19921
Identity Theft                                  13467
Impersonation                                   12880
False Pretenses/Swindle/Confidence Game         12212
Weapon Law Violations                           11074
Family Offenses, Nonviolent                     10423
Stolen Property Offenses                         7389
Bad Checks                                       6713
Counterfeiting/Forgery                           5624
Drug Equipment Violations                        3946
Wire Fraud                                       3818
Prostitution                                     3606
Fondling                                         3424
Pocket-picking                                   3129
Rape                                             2684
Liquor Law Violations                            2344
Embezzlement                                     2068
Arson                                            2036
Kidnapping/Abduction                             1582
Extortion/Blackmail                              1074
Sodomy                                            922
Curfew/Loitering/Vagrancy Violations              906
Purse-snatching                                   735
Murder & Nonnegligent Manslaughter                517
Pornography/Obscene Material                      477
Hacking/Computer Invasion                         454
Sexual Assault With An Object                     397
Theft From Coin-Operated Machine or Device        391
Assisting or Promoting Prostitution               282
Purchasing Prostitution                           219
Peeping Tom                                       204
Animal Cruelty                                    193
Statutory Rape                                    165
Welfare Fraud                                      77
Human Trafficking, Commercial Sex Acts             69
Incest                                             45
Justifiable Homicide                               34
Negligent Manslaughter                             23
Betting/Wagering                                   22
Drunkenness                                        20
Bribery                                            18
Operating/Promoting/Assisting Gambling              5
Human Trafficking, Involuntary Servitude            3
Gambling Equipment Violation                        1
Name: count, dtype: int64

In [310]:
print(crime_types_seattl.neighbourhood.value_counts())

neighbourhood
downtown commercial                 89326
capitol hill                        68929
northgate                           63649
queen anne                          57695
slu/cascade                         49932
                                    ...
commercial duwamish                   777
commercial harbor island              427
<null>                                  1
case/cascad                             1
chinatown/internaitonal district        1
Name: count, Length: 62, dtype: int64

# Call Data

In [358]:
call_seattle = pd.read_csv('data/Seattle/Call_Data_20240716.csv')

In [359]:
call_seattle.head(1)

,CAD Event Number,Event Clearance Description,Call Type,Priority,Initial Call Type,Final Call Type,Original Time Queued,Arrived Time,Precinct,Sector,Beat,Blurred_Longitude,Blurred_Latitude
0,2012000183577,ASSISTANCE RENDERED,ONVIEW,7.0,"PREMISE CHECK, OFFICER INITIATED ONVIEW ONLY",--PREMISE CHECKS - CRIME PREVENTION,06/12/2012 04:19:05 PM,06/12/2012 04:19:05 PM,WEST,MARY,M3,-122.332447,47.610614

In [360]:
call_seattle.columns

Index(['CAD Event Number', 'Event Clearance Description', 'Call Type',
       'Priority', 'Initial Call Type', 'Final Call Type',
       'Original Time Queued', 'Arrived Time', 'Precinct', 'Sector', 'Beat',
       'Blurred_Longitude', 'Blurred_Latitude'],
      dtype='object')

In [361]:
call_seattle['Original Time Queued'] = pd.to_datetime(call_seattle['Original Time Queued'])
call_seattle['Arrived Time'] = pd.to_datetime(call_seattle['Arrived Time'])

/var/folders/kt/c_d917yx6vs3yh3pfv_r5dyc0000gn/T/ipykernel_79406/1382809159.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  call_seattle['Original Time Queued'] = pd.to_datetime(call_seattle['Original Time Queued'])
/var/folders/kt/c_d917yx6vs3yh3pfv_r5dyc0000gn/T/ipykernel_79406/1382809159.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  call_seattle['Arrived Time'] = pd.to_datetime(call_seattle['Arrived Time'])

In [362]:
call_seattle.columns = call_seattle.columns.str.lower().str.replace(' ', '_').str.strip()

In [363]:
call_seattle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5804769 entries, 0 to 5804768
Data columns (total 13 columns):
 #   Column                       Dtype
---  ------                       -----
 0   cad_event_number             int64
 1   event_clearance_description  object
 2   call_type                    object
 3   priority                     float64
 4   initial_call_type            object
 5   final_call_type              object
 6   original_time_queued         datetime64[ns]
 7   arrived_time                 datetime64[ns]
 8   precinct                     object
 9   sector                       object
 10  beat                         object
 11  blurred_longitude            float64
 12  blurred_latitude             float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(7)
memory usage: 575.7+ MB

In [460]:
#filter for years
# include = df[df['Date'].dt.year == year]
# exclude = df[df['Date'].dt.year != year]
#df[pd.to_datetime(df['date']).dt.year.isin([2022,2023])]
call_seattle_years5 = call_seattle[call_seattle['original_time_queued'].dt.year.isin([2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022])]

In [461]:
call_seattle_years5

,cad_event_number,event_clearance_description,call_type,priority,initial_call_type,final_call_type,original_time_queued,arrived_time,precinct,sector,beat,blurred_longitude,blurred_latitude
4,2015000031794,ASSISTANCE RENDERED,911,3.0,TRAFFIC - BO SIGNALS AND DOWN SIGNS,--HAZARDS - HAZARDS,2015-01-28 14:17:37,2015-01-28 14:23:15,EAST,CHARLIE,C1,-122.312722,47.619664
5,2017000112929,ASSISTANCE RENDERED,ONVIEW,9.0,OFF DUTY EMPLOYMENT,-OFF DUTY EMPLOYMENT,2017-03-31 17:52:28,2017-03-31 17:52:28,WEST,MARY,M1,-1.000000,-1.000000
6,2018000358441,OTHER REPORT MADE,ONVIEW,7.0,"PREMISE CHECK, OFFICER INITIATED ONVIEW ONLY",SEX IN PUBLIC PLACE (INCL MASTURBATION),2018-09-25 10:55:34,2018-09-25 10:55:34,NORTH,JOHN,J2,-122.364664,47.686937
7,2022000130210,ASSISTANCE RENDERED,ONVIEW,9.0,OFF DUTY EMPLOYMENT,-OFF DUTY EMPLOYMENT,2022-05-23 17:58:07,2022-05-23 17:58:07,WEST,MARY,M1,-1.000000,-1.000000
8,2018000090472,OTHER REPORT MADE,ONVIEW,7.0,"PREMISE CHECK, OFFICER INITIATED ONVIEW ONLY",SEX OFFENDER - FAILURE TO REGISTER,2018-03-13 13:39:59,2018-03-13 13:39:59,NORTH,NORA,N3,-122.334041,47.711384
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5804760,2022000227246,NO POLICE ACTION POSSIBLE OR NECESSARY,911,2.0,MVC - HIT AND RUN,--TRAFFIC - MV COLLISION INVESTIGATION,2022-08-27 00:59:58,2022-08-27 04:50:24,WEST,DAVID,D2,-122.345741,47.617023
5804761,2022000334664,ASSISTANCE RENDERED,ONVIEW,7.0,"PREMISE CHECK, OFFICER INITIATED ONVIEW ONLY",--PREMISE CHECKS - CRIME PREVENTION,2022-12-15 10:35:02,2022-12-15 10:35:02,WEST,MARY,M3,-122.336229,47.609718
5804762,2022000160197,REPORT WRITTEN (NO ARREST),ALARM CALL (NOT POLICE ALARM),3.0,"ALARM - COMM, SILENT/AUD BURG (INCL BANKS)",--BURGLARY - NON RESIDENTIAL/COMMERCIAL,2022-06-23 04:48:22,2022-06-23 06:49:16,WEST,DAVID,D3,-122.338480,47.619120
5804763,2019000333054,ASSISTANCE RENDERED,ONVIEW,3.0,SERVICE - WELFARE CHECK,--ASSIST PUBLIC - OTHER (NON-SPECIFIED),2019-09-06 07:39:57,2019-09-06 07:39:57,WEST,DAVID,D2,-122.347055,47.642626
5804764,2020000284184,UNABLE TO LOCATE INCIDENT OR COMPLAINANT,911,3.0,THREATS (INCLS IN-PERSON/BY PHONE/IN WRITING),--DISTURBANCE - OTHER,2020-10-04 08:40:59,2020-10-04 08:59:25,WEST,DAVID,D2,-122.339756,47.622630

In [462]:
call_seattle_years5.original_time_queued.dt.year.value_counts()

original_time_queued
2018    434656
2017    432456
2019    432384
2016    420140
2015    400904
2014    384349
2022    318069
2020    317813
2021    304659
Name: count, dtype: int64

In [521]:
call_seattle_years5['response_time'] = (call_seattle_years5['arrived_time'] - call_seattle_years5['original_time_queued']).dt.total_seconds()/60
#.astype('timedelta64[h]')

/var/folders/kt/c_d917yx6vs3yh3pfv_r5dyc0000gn/T/ipykernel_79406/3996677721.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  call_seattle_years5['response_time'] = (call_seattle_years5['arrived_time'] - call_seattle_years5['original_time_queued']).dt.total_seconds()/60

In [522]:
call_seattle_years5.head(1)

,cad_event_number,event_clearance_description,call_type,priority,initial_call_type,final_call_type,original_time_queued,arrived_time,precinct,sector,beat,blurred_longitude,blurred_latitude,response_time
4,2015000031794,ASSISTANCE RENDERED,911,3.0,TRAFFIC - BO SIGNALS AND DOWN SIGNS,--HAZARDS - HAZARDS,2015-01-28 14:17:37,2015-01-28 14:23:15,EAST,CHARLIE,C1,-122.312722,47.619664,5.633333

In [523]:
call_seattle_years5.response_time.info()

<class 'pandas.core.series.Series'>
Index: 3445430 entries, 4 to 5804764
Series name: response_time
Non-Null Count    Dtype
--------------    -----
3149914 non-null  float64
dtypes: float64(1)
memory usage: 52.6 MB

In [538]:
call_type_filter = call_seattle_years5[call_seattle_years5['call_type'] == '911']

In [539]:
call_type_filter

,cad_event_number,event_clearance_description,call_type,priority,initial_call_type,final_call_type,original_time_queued,arrived_time,precinct,sector,beat,blurred_longitude,blurred_latitude,response_time
4,2015000031794,ASSISTANCE RENDERED,911,3.0,TRAFFIC - BO SIGNALS AND DOWN SIGNS,--HAZARDS - HAZARDS,2015-01-28 14:17:37,2015-01-28 14:23:15,EAST,CHARLIE,C1,-122.312722,47.619664,5.633333
17,2016000355154,ASSISTANCE RENDERED,911,3.0,SERVICE - WELFARE CHECK,"--CASUALTY,NON-TRAF,NON-CRIM - NON-DRUG RELATED",2016-09-30 16:58:59,2016-09-30 18:38:10,WEST,MARY,M1,-122.341892,47.607341,99.183333
28,2019000216385,REPORT WRITTEN (NO ARREST),911,1.0,ASLT - CRITICAL (NO SHOOTINGS),--DV - DOMESTIC VIOL/ASLT (ARREST MANDATORY),2019-06-14 04:55:09,2019-06-14 05:01:15,NORTH,NORA,N2,-122.347772,47.731677,6.100000
40,2015000038378,ASSISTANCE RENDERED,911,3.0,NUISANCE,--MISCHIEF OR NUISANCE - GENERAL,2015-02-03 06:17:07,2015-02-03 06:38:22,WEST,KING,K3,-122.326365,47.597934,21.250000
42,2018000395639,REPORT WRITTEN (NO ARREST),911,2.0,THREATS (INCLS IN-PERSON/BY PHONE/IN WRITING),--CRISIS COMPLAINT - GENERAL,2018-10-22 16:12:28,2018-10-22 16:17:32,NORTH,BOY,B3,-122.330142,47.663849,5.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5804742,2016000055150,ASSISTANCE RENDERED,911,2.0,TRESPASS,--SUSPICIOUS CIRCUM. - SUSPICIOUS PERSON,2016-02-15 11:06:22,2016-02-15 12:02:53,WEST,DAVID,D3,-122.335064,47.619680,56.516667
5804753,2021000041552,REPORT WRITTEN (NO ARREST),911,3.0,BURG - COMM BURGLARY,--BURGLARY - NON RESIDENTIAL/COMMERCIAL,2021-02-18 23:26:23,2021-02-19 04:34:57,WEST,DAVID,D2,-122.340921,47.632412,308.566667
5804759,2021000332040,UNABLE TO LOCATE INCIDENT OR COMPLAINANT,911,3.0,THREATS (INCLS IN-PERSON/BY PHONE/IN WRITING),--DISTURBANCE - OTHER,2021-12-17 01:00:06,2021-12-17 04:44:03,WEST,DAVID,D3,-122.331209,47.617225,223.950000
5804760,2022000227246,NO POLICE ACTION POSSIBLE OR NECESSARY,911,2.0,MVC - HIT AND RUN,--TRAFFIC - MV COLLISION INVESTIGATION,2022-08-27 00:59:58,2022-08-27 04:50:24,WEST,DAVID,D2,-122.345741,47.617023,230.433333
5804764,2020000284184,UNABLE TO LOCATE INCIDENT OR COMPLAINANT,911,3.0,THREATS (INCLS IN-PERSON/BY PHONE/IN WRITING),--DISTURBANCE - OTHER,2020-10-04 08:40:59,2020-10-04 08:59:25,WEST,DAVID,D2,-122.339756,47.622630,18.433333

In [542]:
call_seat_beat = call_type_filter[['call_type','original_time_queued', 'beat', 'response_time']]

In [543]:
call_seat_beat

        call_type original_time_queued beat  response_time
4             911  2015-01-28 14:17:37   C1       5.633333
17            911  2016-09-30 16:58:59   M1      99.183333
28            911  2019-06-14 04:55:09   N2       6.100000
40            911  2015-02-03 06:17:07   K3      21.250000
42            911  2018-10-22 16:12:28   B3       5.066667
...           ...                  ...  ...            ...
5804742       911  2016-02-15 11:06:22   D3      56.516667
5804753       911  2021-02-18 23:26:23   D2     308.566667
5804759       911  2021-12-17 01:00:06   D3     223.950000
5804760       911  2022-08-27 00:59:58   D2     230.433333
5804764       911  2020-10-04 08:40:59   D2      18.433333

[1321139 rows x 4 columns]

In [468]:
#call_seattle_beat_group = call_seat_beat.groupby('beat').mean()

In [544]:
call_seat_beat['year'] = call_seat_beat.original_time_queued.dt.year

/var/folders/kt/c_d917yx6vs3yh3pfv_r5dyc0000gn/T/ipykernel_79406/1530308572.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  call_seat_beat['year'] = call_seat_beat.original_time_queued.dt.year

In [545]:
call_seat_beat

        call_type original_time_queued beat  response_time  year
4             911  2015-01-28 14:17:37   C1       5.633333  2015
17            911  2016-09-30 16:58:59   M1      99.183333  2016
28            911  2019-06-14 04:55:09   N2       6.100000  2019
40            911  2015-02-03 06:17:07   K3      21.250000  2015
42            911  2018-10-22 16:12:28   B3       5.066667  2018
...           ...                  ...  ...            ...   ...
5804742       911  2016-02-15 11:06:22   D3      56.516667  2016
5804753       911  2021-02-18 23:26:23   D2     308.566667  2021
5804759       911  2021-12-17 01:00:06   D3     223.950000  2021
5804760       911  2022-08-27 00:59:58   D2     230.433333  2022
5804764       911  2020-10-04 08:40:59   D2      18.433333  2020

[1321139 rows x 5 columns]

In [549]:
call_seattle_beat_group = call_seat_beat.groupby(['year','beat'])['response_time'].median()

In [550]:
call_seattle_beat_group = pd.DataFrame(call_seattle_beat_group)

In [551]:
call_seattle_beat_group

           response_time
year beat
2014 99        22.450000
     B1        19.300000
     B2        18.683333
     B3        19.816667
     C1        10.375000
...                  ...
2022 W               NaN
     W1        19.000000
     W2        17.033333
     W3        15.733333
     WS         6.083333

[575 rows x 1 columns]

In [506]:
#call_seat_group_df.reset_index(inplace=True)

In [507]:
#call_seat_group_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133 entries, 0 to 132
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   beat           133 non-null    object
 1   year           133 non-null    int32
 2   response_time  133 non-null    timedelta64[ns]
dtypes: int32(1), object(1), timedelta64[ns](1)
memory usage: 2.7+ KB

In [510]:
call_seat_group_df[call_seat_group_df['year'] == 2016]

   beat  year             response_time
0     1  2016           0 days 00:00:00
10  CCD  2016    0 days 00:52:13.500000
11   CD  2016           0 days 01:13:48
17   CS  2016 0 days 00:09:31.408450704
24  DBD  2016           0 days 00:00:00
33  DWD  2016           0 days 00:00:00

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(df)